---
title: Attending
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">


    {% include front-logo.html %}


    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
                <div id="sidenav">
                    <ul class="nav ">
                        <li><a class="link-button" href="#registration">Conference Registration</a></li>
                        <li><a class="link-button" href="#venue">Venue (Conference Center)</a></li>
                        <li><a class="link-button" href="#direction">Getting to the Conf. Venue</a></li>
                        <li><a class="link-button" href="#hotel">Hotel Information</a></li>
                        <li><a class="link-button" href="#banquet">Banquet Information</a></li>
                        <li><a class="link-button" href="#visa">Visa Information</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">


                <a class="anchor" name="registration" id="registration"></a>
                <h2>Conference Registration</h2>

                <div class="alert alert-success">
                    <strong>WSDM 2018 registration is now available online at <a target="_blank" href="http://regonline.com/WSDM2018 ">http://regonline.com/WSDM2018 </a></strong>.
                </div>


                <h3><strong>Full Conference</strong><br /><small>Feb 5-9, 2018</small></h3>

                <table class="table registration">
                    <tbody>
                    <tr>
                        <td align="left"> </td>
                        <td align="right"><strong>Early</strong> <br><small>(ends Dec 14)</small></td>
                        <td align="right"><strong>Regular</strong> <br><small>(ends Jan 11)</small></td>
                        <td align="right"><strong>Late</strong> <br><small>(ends Feb 4)</small></td>
                        <td align="right"><strong>Onsite</strong></td>
                    </tr>
                    <tr>
                        <td align="left">ACM/SIG Members</td>
                        <td align="right">$900</td>
                        <td align="right">$1000</td>
                        <td align="right">$1100</td>
                        <td align="right">$1200</td>
                    </tr>
                    <tr>
                        <td align="left">Non-ACM/SIG Members</td>
                        <td align="right">$1000</td>
                        <td align="right">$1100</td>
                        <td align="right">$1200</td>
                        <td align="right">$1300</td>
                    </tr>
                    <tr>
                        <td align="left">Student</td>
                        <td align="right">$450</td>
                        <td align="right">$500</td>
                        <td align="right">$550</td>
                        <td align="right">$600</td>
                    </tr>
                    </tbody>
                </table>


                <h3><strong>Main Conference Registration Only</strong><br /><small>Feb 6-8, 2018</small></h3>

                <table class="table registration">
                    <tbody>
                    <tr>
                        <td align="left"> </td>
                        <td align="right"><strong>Early</strong> <br><small>(ends Dec 14)</small></td>
                        <td align="right"><strong>Regular</strong> <br><small>(ends Jan 11)</small></td>
                        <td align="right"><strong>Late</strong> <br><small>(ends Feb 4)</small></td>
                        <td align="right"><strong>Onsite</strong></td>
                    </tr>
                    <tr>
                        <td align="left">ACM/SIG Members</td>
                        <td align="right">$700</td>
                        <td align="right">$800</td>
                        <td align="right">$900</td>
                        <td align="right">$1000</td>
                    </tr>
                    <tr>
                        <td align="left">Non-ACM/SIG Members</td>
                        <td align="right">$800</td>
                        <td align="right">$900</td>
                        <td align="right">$1000</td>
                        <td align="right">$1100</td>
                    </tr>
                    <tr>
                        <td align="left">Student</td>
                        <td align="right">$400</td>
                        <td align="right">$450</td>
                        <td align="right">$500</td>
                        <td align="right">$550</td>
                    </tr>
                    </tbody>
                </table>


                <h3><strong>Day-1 Registration Only</strong><br /><small>Feb 5, 2018</small></h3>

                <table class="table registration">
                    <tbody>
                    <tr>
                        <td align="left"> </td>
                        <td align="right"><strong>Early</strong> <br><small>(ends Dec 14)</small></td>
                        <td align="right"><strong>Regular</strong> <br><small>(ends Jan 11)</small></td>
                        <td align="right"><strong>Late</strong> <br><small>(ends Feb 4)</small></td>
                        <td align="right"><strong>Onsite</strong></td>
                    </tr>
                    <tr>
                        <td align="left">ACM/SIG Members</td>
                        <td align="right">$125</td>
                        <td align="right">$150</td>
                        <td align="right">$175</td>
                        <td align="right">$200</td>
                    </tr>
                    <tr>
                        <td align="left">Non-ACM/SIG Members</td>
                        <td align="right">$150</td>
                        <td align="right">$175</td>
                        <td align="right">$200</td>
                        <td align="right">$250</td>
                    </tr>
                    <tr>
                        <td align="left">Student</td>
                        <td align="right">$100</td>
                        <td align="right">$125</td>
                        <td align="right">$150</td>
                        <td align="right">$175</td>
                    </tr>
                    </tbody>
                </table>

                <h3><strong>Day-5 Registration Only</strong><br /><small>Feb 9, 2018</small></h3>

                <table class="table registration">
                    <tbody>
                    <tr>
                        <td align="left"> </td>
                        <td align="right"><strong>Early</strong> <br><small>(ends Dec 14)</small></td>
                        <td align="right"><strong>Regular</strong> <br><small>(ends Jan 11)</small></td>
                        <td align="right"><strong>Late</strong> <br><small>(ends Feb 4)</small></td>
                        <td align="right"><strong>Onsite</strong></td>
                    </tr>
                    <tr>
                        <td align="left">ACM/SIG Members</td>
                        <td align="right">$125</td>
                        <td align="right">$150</td>
                        <td align="right">$175</td>
                        <td align="right">$200</td>
                    </tr>
                    <tr>
                        <td align="left">Non-ACM/SIG Members</td>
                        <td align="right">$150</td>
                        <td align="right">$175</td>
                        <td align="right">$200</td>
                        <td align="right">$250</td>
                    </tr>
                    <tr>
                        <td align="left">Student</td>
                        <td align="right">$100</td>
                        <td align="right">$125</td>
                        <td align="right">$150</td>
                        <td align="right">$175</td>
                    </tr>
                    </tbody>
                </table>




                <a class="anchor" name="venue" id="venue"></a>
                <h2>Venue (Conference Center)</h2>
                <p>WSDM 2018 will be held at <a
                        href="http://www.ritzcarlton.com/en/hotels/california/marina-del-rey" target="_blank">The
                    Ritz-Carlton, Marina
                    del Rey</a>, located near Santa Monica and Playa del Rey.
                WSDM 2018 negotiated limited number of conference hotel rooms with a discounted price of $289 per night, comparing with the regular price of $450 per night. Please book your hotel room early via <a href="https://aws.passkey.com/go/WSDM18" target="_blank">https://aws.passkey.com/go/WSDM18</a>
                </p>


                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="img/attending/venue_image_01.jpg"/>
                        </div>
                        <div class="item">
                            <img src="img/attending/venue_image_02.jpg"/>
                        </div>
                        <div class="item">
                            <img src="img/attending/venue_image_03.jpg"/>
                        </div>
                        <div class="item">
                            <img src="img/attending/venue_image_04.jpg"/>
                        </div>
                        <div class="item">
                            <img src="img/attending/venue_image_05.jpg"/>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


                <div style="height: 20px;"></div>

                <a class="anchor" name="direction" id="direction"></a>
                <h2>Getting to the Conference Venue</h2>
                More details coming soon...


                <iframe width="100%" height="400" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=The Ritz-Carlton, Marina del Rey&key=AIzaSyCizh0zc9lb_9a8HGAq7iU_WXyadjw3hMU"></iframe>


                <div style="height: 50px;"></div>

                <a class="anchor" name="hotel" id="hotel"></a>
                <h2>Hotel Information</h2>

                <p> The Ritz-Carlton, Marina del Rey.
                </p>

                <div id="carousel-example-generic-hotel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic-hotel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic-hotel" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic-hotel" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic-hotel" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic-hotel" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic-hotel" data-slide-to="5"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="img/attending/hotel_image_01.jpg"/>
                        </div>
                        <div class="item">
                            <img src="img/attending/hotel_image_02.jpg"/>
                        </div>
                        <div class="item">
                            <img src="img/attending/hotel_image_03.jpg"/>
                        </div>
                        <div class="item">
                            <img src="img/attending/hotel_image_04.jpg"/>
                        </div>
                        <div class="item">
                            <img src="img/attending/hotel_image_05.jpg"/>
                        </div>
                        <div class="item">
                            <img src="img/attending/hotel_image_06.jpg"/>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic-hotel" role="button"
                       data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic-hotel" role="button"
                       data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div style="height: 50px;"></div>
                <a class="anchor" name="banquet" id="banquet"></a>
                <h2>Banquet Information</h2>

                WSDM 2018 banquet will be hosted on two yachts, FantaSea One Yacht and RegentSea Yacht. Please boarding with a banquet ticket.
                <div style="margin: 10px auto;">
                    <h4>FantaSea One Yacht</h4>

                    <img src="img/attending/banquet_image_01.jpg" style="width:100%;"/>
                </div>

                <div style="margin: 10px auto;">
                    <h4>RegentSea Yacht</h4>
                    <img src="img/attending/small_yacht.jpg" style="width:100%;"/>
                </div>

                <div style="height: 50px;"></div>
                <a class="anchor" name="visa" id="visa"></a>
                <h2>Requesting Visa Support Letters</h2>
                <p>ACM is able to provide visa support letters to attendees as well as authors with accepted papers,
                    posters, or members of the conference committee. </p>
                <p>For visa support letters, please mail supportletters@acm.org . Those requesting a letter should allow
                    up to one week to receive it. All requests are handled in the order they are received. The
                    information below should be included with the request. </p>
                <ul>
                    <li>Name (as it appears on attendee’s passport) and mailing address
                    <li>The name of the conference attendees is registering for
                    <li>Attendee’s registration confirmation number
                    <li>Authors may indicate their paper title. Speakers can provide the title of their talk.
                    <li>Include a fax number or email address of where letter can be sent
                </ul>
                <p>ACM does not provide letters for transport of vendor or presenter equipment. ACM suggests shipping
                    the materials insured to the conference facility.</p>


            </div>
        </div><!-- end row -->
    </div>
</div><!-- end container -->


{% include footer.html %}

</body>

</html>