---
title: Call for Workshop Proposal
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}
    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
            </div>

            <div class="col-sm-12 col-md-9">


                <h2>Call for Workshop Proposals</h2>
                <p><strong>Submission Website:</strong> <a href="https://easychair.org/conferences/?conf=wsdm2018workshop" target="_blank">EasyChair</a>
                </p>
                <p>WSDM (pronounced &ldquo;wisdom&rdquo;) is one of the premier conferences on web-inspired research
                    involving search and data mining. The 11th ACM International WSDM Conference will take place in Los
                    Angeles, California, USA during February 5-9, 2018.</p>
                <p>The WSDM 2018 organizing committee invites proposals for full-day and half-day workshops to be held
                    at the WSDM conference on Friday, February 9, 2018. The topics of the proposed workshops should be
                    aligned with those set forth in the call for papers of the main conference. WSDM workshops provide a
                    venue for exploring and discussing emerging research directions and applications of Web search and
                    data mining, in a more focus and less formal manner than other tracks.</p>
                <p>The format and content of each workshop will be determined by its organizers. However, preference
                    will be given to workshops whose format includes sessions that facilitate highly interactive
                    discussions with the audience. Examples include Q&amp;As, debates, panels, or even a competition or
                    a challenge around an interesting and realistically sized dataset (possibly released by the workshop
                    organizers for that purpose). Examples of such challenges include the Netflix competition for
                    recommender systems and Yahoo learning-to-rank challenge.</p>
                <p>Organizers of accepted workshops are expected to:</p>
                <ul>
                    <li>Determine the submission deadline (As a general guideline, this date should be after the
                        notification date for regular WSDM papers.)
                    </li>
                    <li>Handle the full reviewing process, including recruiting the Program Committee</li>
                    <li>Prepare a workshop Web site featuring the final program and proceedings</li>
                    <li>Publicize the workshop in the relevant communities</li>
                    <li>Prepare workshop notes to be distributed (possibly online) to attendees</li>
                    <li>Attend the workshop in person, and supervise the workshop operations</li>
                </ul>
                <h3>Proposal Submission: </h3>
                <p>Workshop proposals should be submitted in PDF using the <a href="https://easychair.org/conferences/?conf=wsdm2018workshop" target="_blank"> EasyChair submission system </a>. &nbsp;They should be limited to five pages and include
                    the following information:</p>
                <ul>
                    <li>Proposed workshop organizers (names, affiliations and email addresses; identify one person as
                        the primary contact person)
                    </li>
                    <li>Description of the workshop: objectives, goals, relevance to WSDM, and expected outcomes</li>
                    <li>Rationale for holding such a workshop during WSDM</li>
                    <li>Description of target audience and estimated number of participants</li>
                    <li>Proposed workshop duration (1/2 or full day), format, activities, and schedule</li>
                    <li>List of related workshops in recent Web-related conferences, indicating the differences between
                        the past and the proposed workshop
                    </li>
                    <li>Short biographical sketch for each organizer, describing relevant experience and qualifications
                        (e.g., previous workshop organizing)
                    </li>
                    <li>If this is a recurring workshop (at WSDM or related conferences such as WWW, SIGIR or KDD), the
                        organizers should highlight the fact, and concisely describe past attendance and outcomes, and
                        mostly why another workshop on the same topic or series is needed.
                    </li>
                </ul>
                    <h3>Key Dates: </h3>
                <p>All deadlines are 11:59pm, anywhere in the world (Alofi time).</p>
                <ul>
                    <li>Workshop proposal due: July 10, 2017</li>
                    <li>Proposal notifications: August 6, 2017</li>
                    <li>Notify accepted authors (no later than): December 15, 2017</li>
                    <li>Workshops date: February 9, 2018</li>
                </ul>
                <p>Eugene Agichtein, Emory University<br/>
                Jiliang Tang, Michigan State University<br/>Workshop Co-chairs of WSDM 2018</p>

            </div>
        </div><!-- end row -->
    </div>
</div><!-- end container -->


{% include footer.html %}


</body>

</html>