---
title: Call for Tutorial
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}
    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
            </div>

            <div class="col-sm-12 col-md-9">


                <h2>Call for Tutorials</h2>

                We invite proposals for half and full-day tutorials to be held at the Web Search and Data Mining (WSDM) conference on February 5, 2018. The WSDM 2018 Tutorial Program is intended to disseminate information to conference attendees on recently emerging topics and trends, provide surveys of complementary techniques to those commonly studied at WSDM, and inform industrial practitioners on the state-of-the-art within the field. We encourage submissions of proposals on topics in the general areas of web search, data mining, information retrieval, and social search. WSDM historically has drawn audiences from both academia and industry. This should be taken into consideration in the proposal. Tutorials will be given by experts in the subject matter.
                <h3>Submission Guidelines</h3>
                <a href="https://easychair.org/cfp/wsdm2018-tutorials" target="_blank">https://easychair.org/cfp/wsdm2018-tutorials</a>

                <p>Submissions should include a cover sheet and an extended abstract. The cover sheet should include the following elements</p>
                <ul>
                    <li>Title and length (either half-day, e.g. 3 hours plus breaks, or full day, e.g., 6 hours plus breaks) of the tutorial</li>
                    <li>Short abstract (300 words)</li>
                    <li>Intended audience (introductory, intermediate, advanced) and prerequisite knowledge or skills required</li>
                    <li>Previous offering of the tutorial</li>
                    <li>Detailed contact information of all presenters (and indication of the main contact person)</li>
                    <li>Brief biography (max. 2 paragraphs) for each presenter, highlighting relevant experience in presenting tutorials, teaching classes, organizing summer schools, etc.</li>
                </ul>
                <p>The extended abstract (no longer than 2 pages) should include the following sections</p>
                <ul>
                    <li>Motivation</li>
                    <li>Brief outline of the topics to be covered</li>
                    <li>Links to related resources</li>
                    <li>Type of support materials to be supplied to attendees.</li>
                </ul>
                <p>Tutorial proposals should be prepared in standard ACM format available from the ACM Conference site (for LaTeX, use the Option 2 style).</p>
                <h3>Schedule</h3>
                <ul>
                    <li><strong>September 25, 2017: Tutorial Proposal Deadline</strong></li>
                    <li>November 13, 2017: Tutorial Acceptance Notifications</li>
                    <li>Feb 5, 2018: Tutorials day</li>
                </ul>
                <p>WSDM 2018 Tutorials Program Committee<br/>
                David Carmel, Yahoo Research<br/>
                Jaap Kamps, University of Amsterdam</p>

            </div>
        </div><!-- end row -->
    </div>
</div><!-- end container -->


{% include footer.html %}


</body>

</html>