---
title: Call for Papers
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}

    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
            </div>

            <div class="col-sm-12 col-md-9">


                <h2>Call for Papers</h2>

                <p><strong>Submission Website:</strong> <a href="https://easychair.org/conferences/?conf=wsdm2018"
                                                           target="_blank">https://easychair.org/conferences/?conf=wsdm2018</a>
                </p>

                <strong>Deadlines: </strong>
                <ul>
                    <li>Abstract submission deadline is <span class="text-danger">August 4, 2017</span>.
                    <li>Final paper submissions are due <span class="text-danger">August 12, 2017</span>.
                </ul>
                <br/>

                <p>WSDM (pronounced "wisdom") is one of the premier conferences on web inspired research involving
                    search and data mining. The 11th ACM International WSDM Conference will take place in Los Angeles,
                    CA during Feb. 5-9, 2018.</p>

                <p>WSDM is a highly selective, single track meeting that includes invited talks as well as refereed full
                    papers.<br/>
                    WSDM publishes original, high-quality papers related to search and data mining on the Web and the
                    Social Web, with an emphasis on practical yet principled novel models of search and data mining,
                    algorithm design and analysis, economic implications, and in-depth experimental analysis of accuracy
                    and performance.</p>

                <p>Papers emphasizing novel algorithmic approaches are particularly encouraged. Application-oriented
                    papers that make innovative technical contributions to research are welcome. Visionary papers on new
                    and emerging topics are also welcome.</p>

                <p>Topics covered include but are not limited to:</p>

                <h4>Web Search</h4>

                <ul>
                    <li> Adversarial search
                    <li> Algorithms and systems for Web-scale search
                    <li> Audio and touch interfaces to search
                    <li> Distributed search, metasearch, peer-to-peer search
                    <li> Indexing web content
                    <li> Local search
                    <li> Mobile search
                    <li> Multimedia Web search
                    <li> Query analysis and query processing
                    <li> Retrieval and ranking
                    <li> Search benchmarking and evaluation
                    <li> Search user behavior and log analysis
                    <li> Search user interfaces and interaction
                    <li> Searching social and real-time content
                    <li> Semantic search, faceted search, and knowledge graphs
                    <li> Sponsored search
                    <li> Task-driven search
                    <li> Vertical portals and search
                    <li> Voice search, conversational search, and dialog in search
                    <li> Web crawling
                    <li> Zero-query and implicit search
                </ul>
                <h4> Web Mining </h4>
                <ul>
                    <li> Algorithms and systems for Web-scale mining
                    <li> Bridging unstructured and structured data
                    <li> Clustering, classification, and summarization of Web data
                    <li> Data, entity, event, and relationship extraction
                    <li> Data integration and data cleaning
                    <li> Discovery-driven Web and social network mining
                    <li> Geo and location data analysis
                    <li> Knowledge acquisition and automatic construction of knowledge bases
                    <li> Large-scale graph analysis
                    <li> Modeling trustworthiness and reliability of online information
                    <li> Multimodal data mining
                    <li> NLP for Web mining
                    <li> Online and streaming algorithms
                    <li> Opinion mining and sentiment analysis
                    <li> Web traffic and log analysis
                    <li> Web measurements, web evolution and web models
                    <li> Web recommender systems and algorithms
                    <li> Mobile Mining
                </ul>
                <h4> Social Search, Mining and Applications </h4>
                <ul>
                    <li> Collaborative search and question answering
                    <li> Dynamics of social networks
                    <li> Human computation and crowdsourcing
                    <li> Influence spreading and viral marketing in social networks
                    <li> Instant messaging and social networks
                    <li> Link prediction and community detection
                    <li> Location-based social networks
                    <li> Mining crowd-generated data
                    <li> Sampling, experiments, and evaluation in social networks
                    <li> Searching social media and collaboratively generated content
                    <li> Social media analysis: blogs and friendship networks
                    <li> Social network analysis, theories, models, and applications
                    <li> Social reputation, influence, and trust
                    <li> Tags, users, and search
                    <li> User activity modeling and exploitation
                    <li> User profiling
                </ul>
                Finally, this year we also encourage submissions in the following areas:
                <ul>
                    <li> Machine learning and deep networks for web search and data mining
                    <li> Personal assistants, dialogue models and conversational interaction
                    <li> Web search and data mining under privacy constraints
                </ul>

                <p>Authors are explicitly discouraged from submitting papers that do not clearly present their
                    contribution with respect to previous works, that contain only incremental results, and that do not
                    provide significant advances over existing approaches.</p>

                <h4>Originality of Submissions</h4>
                <p>Submissions must represent new and original work. Concurrent submissions are not allowed. Papers that
                    have been published in or accepted to any peer-reviewed journal or conference/workshop with
                    published proceedings, are currently under review, or will be submitted to other meetings or
                    publications while under review may not be submitted to WSDM 2018. However, submissions that are
                    available online and/or have been previously presented orally or as posters in venues with no formal
                    proceedings, are allowed. Note that if available online (e.g., via arXiv) and not anonymous, their
                    titles and abstract must be sufficiently different from the WSDM submission in order to limit the
                    risk that a direct search break the double blind reviewing requirement. Additionally, the ACM has a
                    <a
                            href="http://www.acm.org/publications/policies/plagiarism_policy">strict policy against
                        plagiarism and self-plagiarism</a>. All prior work must be appropriately cited.</p>

                <h3>Submissions</h3>
                <!--<p>Papers must be submitted in PDF format according to <a-->
                <!--href="http://www.acm.org/sigs/publications/proceedings-templates">ACM guidelines</a> and style-->
                <!--files to fit within 8 pages including any diagrams and appendices, plus up to 1 additional page of-->
                <!--references. PDF files must have all non-standard fonts embedded. Submissions must be self-contained-->
                <!--and in English. After uploading your submission, please check the copy stored on the site.-->
                <!--Submissions that do not follow these guidelines, or do not view or print properly, may be rejected-->
                <!--without review.</p>-->

                Papers must be submitted in PDF according to the new ACM format published in <a
                    href="http://www.acm.org/publications/proceedings-template" target="_blank">ACM guidelines</a>,
                selecting the generic "sigconf" sample. Submissions should not exceed eight pages including any diagrams
                or appendices, plus up to one additional page of references. The PDF files must have all non-standard
                fonts embedded. Submissions must be self-contained and in English. After uploading your submission,
                please verify the copy stored on the easychair site. Submissions that do not follow these guidelines, or
                do not view or print properly, may be rejected without review.

                <p>
                    PDF files submitted to WSDM 2018 must be double-blind: the submitted document should not include
                    author information and should not include citations or discussion of related work that would make
                    the authorship apparent. Note however, that it is acceptable to explicitly refer in the paper to the
                    companies or organizations that provided datasets, hosted experiments or deployed solutions. In
                    order words, instead of stating for instance that an experiment “was conducted on the logs of a
                    major search engine”, the authors should refer to the search engine by name. The reviewers will be
                    informed that it does not necessarily imply that the authors are currently affiliated with the
                    mentioned organization.
                    To support identification of reviewers with conflicts of interest, the full author list must be
                    specified at submission time. In exceptional cases, the author list may be modified later with
                    permission of the PC Chairs.

                </p>

                <h3>Review Process</h3>
                <p>Each paper will be reviewed by at least three PC members and a senior PC member. The acceptance
                    decisions will take into account paper novelty, technical depth, elegance, practical or theoretic
                    impact, and presentation. As an experiment this year, WSDM 2018 will use a combination of
                    single-blind reviewing and double-blind reviewing.
                <p>
                    Please contact the PC chairs at the address below for any questions on the submission or review
                    process.
                </p>
                </p>

                <h3>Reproducibility</h3>
                <p>The algorithms, resources and methods used within a paper should be described as completely as
                    possible. Authors may reference supplementary material, including detailed descriptions, test
                    datasets or code. However, this information is not part of the submission proper, and will be read
                    only at the discretion of the reviewers. Wherever appropriate, the authors are encouraged to use
                    publicly available test collections and state-of-the-art baselines. Please consider sharing your
                    intermediate/final experimental results and code with the research community.</p>


                <h3>Publication and Presentation</h3>
                <p>All accepted papers will be published in the ACM Digital Library. For every paper there must be a
                    registered author to present it in person at WSDM 2018. At the conference, all the papers will be
                    allocated a slot at the interactive poster session to encourage discussion. Additionally, selected
                    papers will be presented during the plenary oral sessions as either long or short talks.</p>

                <div class="alert alert-warning">AUTHORS TAKE NOTE: The official publication date is the date the
                    proceedings are made
                    available in the ACM Digital Library. This date may be up to two weeks prior to the first day
                    of your conference. The official publication date affects the deadline for any patent filings
                    related to published work.
                </div>


                <h3>Key Dates</h3>
                <ul>
                    <li><span class="text-danger"><strong>Paper abstracts due: August 4, 2017</strong></span>
                    <li>Papers due: August 12, 2017
                    <li>Paper notifications: October 23, 2017
                    <li>Conference: February 5-9, 2018
                </ul>
                <p>All deadlines are 11:59pm, anywhere in the world (<a
                        href="http://www.timeanddate.com/worldclock/city.html?n=724">Alofi time</a>).</p>

                Yan Liu, University of Southern California, USA<br/>
                Yoelle Maarek, Yahoo Research, Israel<br/>
                Program Committee Co-chairs of WSDM 2018<br/>

                Email: <a href="mailto:wsdm2018@easychair.org" target="_top">wsdm2018@easychair.org</a>

            </div>
        </div>
    </div>

    {% include footer.html %}


</body>

</html>