---
title: Call for Demonstrations
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}
    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
            </div>
            <div class="col-sm-12 col-md-9">


                <h2>Call for Demonstrations</h2>
                <p><strong>EasyChair submission link:</strong> <a
                        href="https://easychair.org/conferences/?conf=wsdm2018demotrack" target="_blank">
                    https://easychair.org/conferences/?conf=wsdm2018demotrack</a>
                </p>
                <p>
                    WSDM (pronounced "wisdom") is one of the premier conferences on web inspired research involving
                    search and data mining. The 11th ACM International WSDM Conference will take place in Los Angeles,
                    CA, during February 5-9, 2018. The Conference and Program Chairs invite all those working in areas
                    related to search and data mining on the Web and the Social Web to submit original proposals for
                    system demonstrations at the conference. WSDM demonstrations enable presenters to give conference
                    delegates first-hand experience of novel research prototypes or operational systems, to promote
                    their work to leading members of the research community, to exchange ideas gained from implementing
                    systems with leading researchers, and to obtain direct feedback from expert users and industry
                    practitioners. A paper describing each accepted demonstration will be included in the WSDM 2018
                    conference proceeding.
                </p>
                <p>
                    A good demonstration submission should be of interest to a WSDM audience of active researchers in
                    the areas related to search and data mining on the Web and the Social Web. The submission should
                    both describe and demonstrate a novel solution to an existing or new problem in WSDM. A
                    demonstration submission should address the following questions: What problem does your system seek
                    to address? Who are the target users? How does the submission demonstrate your solution to the
                    problem? What will your demonstration actually show and how does it work? How does your
                    demonstration system compare with existing systems that seek to do the same or similar things?
                    Finally, how, where and when will your technology have a technical or commercial impact?
                </p>
                <p>
                    Demonstration submissions are welcome in any of the areas related to aspects of WSDM identified in
                    the Call for Papers on the WSDM 2018 website. Submissions will be reviewed by the Demonstrations
                    Program Committee, who will evaluate the novelty of the technical features being demonstrated, the
                    challenges in producing such a system, its expected impact, and its timeliness and relevance for the
                    WSDM audience of practitioners and researchers. Submissions that describe case studies will also be
                    evaluated on the importance of the case, and its relevance for other potential cases.
                </p>

                <h3>Submission guidelines </h3>
                <p>
                    Submissions of demonstration papers must be in English and in PDF format according to the ACM
                    guidelines
                    and style files to fit within 4 pages including any diagrams, appendices, and references. Wireless
                    network access, along with a table and poster mount backdrop, will be provided for all accepted
                    demonstrations. If you have any additional practical requirement, please direct your request to the
                    demonstration session chair after the demonstration paper is accepted.
                </p>
                <p>
                    Papers should be submitted electronically via the EasyChairWSDM2018 demo paper submission site. At
                    least one author of each accepted demonstration must register and attend the conference.
                </p>
                <p>
                    Unlike regular paper submissions in WSDM, authors of demonstration submissions are not expected to
                    take measures to conceal their identity from reviewers. But submissions that are over the 4-page
                    limit and incomplete submissions will be rejected without
                    review. Authors should carefully go through ACM’s authorship policy before submitting a paper.
                </p>

                <h3>Important Dates</h3>
                <ul>
                    <li>Demonstration submission due: August 12, 2017</li>
                    <li>Demonstrations notification: October 23, 2017</li>
                    <li>Conference: February 5-9, 2018</li>
                </ul>
                <p>All deadlines are 11:59pm, anywhere in the world (Alofi time).</p>
                <h3>Demonstration Chair</h3>


                <p>Hongning Wang (University of Virginia, U.S.)<br/>
                    Email: hw5x [AT] virginia [dot] edu
                </p>
            </div>
        </div><!-- end row -->
    </div>
</div><!-- end container -->


{% include footer.html %}


</body>

</html>