---
title: WSDM Cup 2018 Call for Participants
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}


    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
            </div>

            <div class="col-sm-12 col-md-9">


                <h2 style="text-align: left;">WSDM CUP 2018 Call-for-Participants</h2>
                <h3 style="text-align: left"><span
                        style="color: #808080;">Music Recommendation &amp; Churn Prediction</span>
                </h3>
                <h3>WSDM Cup Challenge</h3>
                <p>Content recommendation is at the heart of most subscription-based media stream platforms. A good
                    recommendation system can vastly enhance user experience and increase user engagement. On the other
                    hand, predicting user churn is a common challenge facing all subscription-based platforms.
                    Predicting user churn and understanding the key factors leading to membership renewal have great
                    business value.</p>
                <p>We invite you to take part in one of the following shared tasks:</p>
                <h4>Task 1: Music Recommendation</h4>
                <p>In this task, the participants are requested to exploit the provided user history
                    and music metadata to develop a recommendation system. Given a copy of user listening history during
                    a two month period, participants are required to predict what songs a set of predetermined users
                    would listen to during the next month. <br/>
                    Kaggle: <a href="https://www.kaggle.com/c/kkbox-music-recommendation-challenge" target="_blank">https://www.kaggle.com/c/kkbox-music-recommendation-challenge</a>


                </p>

                <h4>Task 2: Churn Prediction</h4>
                <p>In this task, we would like to know whether a user will renew his/her subscription
                    within 30 days after the current subscription expires. <br/>

                    Kaggle: <a href="https://www.kaggle.com/c/kkbox-churn-prediction-challenge" target="_blank">https://www.kaggle.com/c/kkbox-churn-prediction-challenge</a>
                </p>
                <p><strong>Learn more at</strong>: <a href="https://wsdm-cup-2018.kkbox.events/" target="_blank">https://wsdm-cup-2018.kkbox.events/</a>
                </p>
                <h3>Important Dates</h3>
                <ul>
                    <li>September, 15th, 2017: Competition begins</li>
                    <li>December, 17th, 2017: Competition Ends</li>
                    <li>December, 19th, 2017: Winner announcement</li>
                    <li>January, 9th, 2018: Workshop paper submission deadline</li>
                    <li>February, 8th, 2018: WSDM cup workshop</li>
                </ul>
                <p>All deadlines are 11:59 PM, Pacific Standard Time (PST).</p>
                <h4><span style="color: #808080;">For details, please check: <a
                        href="https://wsdm-cup-2018.kkbox.events/"
                        target="_blank">https://wsdm-cup-2018.kkbox.events/</a></span></h4>

            </div>
        </div><!-- end row -->
    </div>
</div><!-- end container -->


{% include footer.html %}

</body>

</html>