---
title: Call for Papers
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

    {% include navbar.html %}

    <div class="container">
        {% include front-logo.html %}

        <div class="row">
            <div class="container content-container">

                <div class="col-sm-0 col-md-3">
                </div>

                <div class="col-sm-12 col-md-9">


                    <h2>Call for Full Papers</h2>

                    <p><strong>Submission Website:</strong> <a href="https://easychair.org/conferences/?conf=sigir2020"
                            target="_blank">https://easychair.org/conferences/?conf=sigir2020</a>
                    </p>

                    <p>The annual SIGIR conference is the major international forum for the presentation of new research
                        results, and the demonstration of
                        new systems and techniques, in the broad field of information retrieval (IR). The 43rd ACM SIGIR
                        conference, to be held in Xi'an, China,
                        welcomes contributions related to any aspect of information retrieval and access, including
                        theories, foundations, algorithms, applications,
                        evaluation, and analysis. The conference and program chairs invite those working in areas
                        related to IR to submit original papers for review.
                    </p>

                    <h3>Deadlines: </h3>
                    <ul>
                        <li>Full paper abstract registration deadline <span class="text-danger">Wed, Jan 15,
                                2020</span>.
                        <li>Full paper submission deadline <span class="text-danger">Wed, Jan 22, 2020</span>.
                        <li>Full paper notifications <span class="text-danger">Tue, Apr 16, 2020</span>.
                    </ul>
                    <!-- <br /> -->

                    <h3>Submission Guidelines</h3>

                    All papers must be original and not simultaneously submitted to another journal or conference.

                    <p>
                        Submissions of full research papers must be in English, in PDF format,
                        and be at most 9 pages (including figures) + 1 pages of references in
                        length, in the current ACM two-column conference format. Suitable LaTeX,
                        Word, and
                        <a
                            href="https://www.acm.org/special-interest-groups/volunteer-resources/conference-planning/proceedings#authors">Overleaf</a>
                        templates are available from the <a
                            href="https://www.acm.org/publications/proceedings-template">ACM
                            Website</a> (use the
                        \“sigconf\” proceedings template). Full research papers must describe
                        work that is not previously published, not accepted for publication
                        elsewhere, and not currently under review elsewhere (including as a
                        short-paper submission for SIGIR 2019). Submissions must be anonymous
                        and should be submitted electronically via the <a
                            href="https://easychair.org/conferences/?conf=sigir2020">conference submission
                            system</a>.
                    </p>

                    <h3>Anonymity</h3>



                    <p>Authors are required to take all reasonable steps to preserve the anonymity of their submission.
                        The submissions document must not include author information and must not include citations or
                        discussion of related work that would
                        make the authorship apparent. Note however, that it is acceptable to explicitly refer in the
                        paper to the companies or organizations
                        that provided datasets, hosted experiments, or deployed solutions. For example, instead of
                        stating that an experiment “was conducted on the logs of a major search engine”, the authors
                        should refer to the search
                        engine by name. The reviewers will be informed that it does not necessarily imply that the
                        authors are currently
                        affiliated with the mentioned organization.
                        While authors can upload to institutional or other preprint repositories such as arXiv.org
                        before reviewing is complete, we generally discourage this since it places anonymity at risk
                        (which could result in a negative outcome of the reviewing process). Authors should carefully go
                        through ACM’s authorship policy before submitting a paper.
                        To support identification of reviewers with conflicts of interest, the full author list must be
                        specified at submission time.</p>

                    <p>Authors should note that changes to the author list after the submission deadline are not allowed
                        without permission from the PC Chairs. At least one author of each accepted paper is required to
                        register for, attend, and present the work at the conference.</p>

                    <p>All full papers are to be submitted via EasyChair:<br>
                        <a
                            href="https://easychair.org/conferences/?conf=sigir2020">https://easychair.org/conferences/?conf=sigir2020</a>
                    </p>

                    <p>
                        The CFP for short papers (4 pages), as well as workshops, tutorials, doctoral consortium,
                        industry day, and other SIGIR 2019 venues will be released separately.
                    </p>


                    <h3>List of Tracks</h3>

                    <p>Upon submission, authors should select one or two relevant tracks among the seven tracks
                        indicated below that best represent the area of their submission.</p>

                    <p><strong>Search and Ranking.</strong> Research on core IR algorithmic topics,
                        including IR at scale, covering topics such as:</p>

                    <ul>
                        <li>Queries and query analysis</li>
                        <li>Web search, including link analysis, sponsored search, search
                            advertising, adversarial search and spam, and vertical search</li>
                        <li>Retrieval models and ranking, including diversity and aggregated
                            search</li>
                        <li>Efficiency and scalability</li>
                        <li>Theoretical models and foundations of information retrieval and
                            access</li>
                    </ul>

                    <p><strong>Future Directions.</strong> Research with theoretical or empirical
                        contributions on new technical or social aspects of IR, especially in
                        more speculative directions or with emerging technologies, covering
                        topics such as:</p>

                    <ul>
                        <li>Novel approaches to IR</li>
                        <li>Ethics, economics, and politics</li>
                        <li>Applications of search to social good</li>
                        <li>IR with new devices, including wearable computing, neuroinformatics,
                            sensors, Internet-of-Things, vehicles</li>
                    </ul>

                    <p><strong>Domain-Specific Applications.</strong> Research focusing on domain-specific
                        IR challenges, covering topics such as:</p>

                    <ul>
                        <li>Social search</li>
                        <li>Search in structured data including email search and entity search</li>
                        <li>Multimedia search</li>
                        <li>Education</li>
                        <li>Legal</li>
                        <li>Health, including genomics and bioinformatics</li>
                        <li>Other domains such as digital libraries, enterprise, news search,
                            app search, archival search</li>
                    </ul>

                    <p><strong>Content Analysis, Recommendation and Classification.</strong> Research
                        focusing on recommender systems, rich content representations and
                        content analysis, covering topics such as:</p>

                    <ul>
                        <li>Filtering and recommender systems</li>
                        <li>Document representation</li>
                        <li>Content analysis and information extraction, including
                            summarization, text representation, readability, sentiment analysis,
                            and opinion mining</li>
                        <li>Cross- and multilingual search</li>
                        <li>Clustering, classification, and topic models</li>
                    </ul>

                    <p><strong>Artificial Intelligence, Semantics, and Dialog.</strong> Research bridging AI
                        and IR, especially toward deep semantics and dialog with intelligent
                        agents, covering topics such as:</p>

                    <ul>
                        <li>Question answering</li>
                        <li>Conversational systems and retrieval, including spoken language
                            interfaces, dialog management systems, and intelligent chat systems</li>
                        <li>Semantics and knowledge graphs</li>
                        <li>Deep learning for IR, embeddings, and agents</li>
                    </ul>

                    <p><strong>Human Factors and Interfaces.</strong> Research into user-centric aspects of
                        IR, including user interfaces, behavior modeling, privacy, and
                        interactive systems, covering topics such as:</p>

                    <ul>
                        <li>Mining and modeling search activity, including user and task models,
                            click models, log analysis, behavioral analysis, and attention
                            modeling</li>
                        <li>Interactive and personalized search</li>
                        <li>Collaborative search, social tagging and crowdsourcing</li>
                        <li>Information privacy and security</li>
                    </ul>

                    <p><strong>Evaluation.</strong> Research that focuses on the measurement and evaluation
                        of IR systems, covering topics such as:</p>

                    <ul>
                        <li>User-centered evaluation methods, including measures of user
                            experience and performance, user engagement and search task design</li>
                        <li>Test collections and evaluation metrics, including the development
                            of new test collections</li>
                        <li>Eye-tracking and physiological approaches, such as fMRI</li>
                        <li>Evaluation of novel information access tasks and systems such as
                            multi-turn information access</li>
                        <li>Statistical methods and reproducibility issues in information
                            retrieval evaluation</li>
                    </ul>

                    <p>Authors are explicitly discouraged from submitting papers that do not clearly present their
                        contribution with respect to previous works, that contain only incremental results, and that do
                        not provide significant advances over existing approaches.</p>
                            
                    <h3>Program Chairs</h3>

                    Yi Chang, Jilin University, China<br />
                    Xueqi Cheng, Chinese Academy of Science, China<br />
                    Jimmy Huang, York University<br />
                    General Co-chairs of SIGIR 2020<br />

                    Email: <a href="mailto:sigir2020@easychair.org" target="_top">sigir2020@easychair.org</a>

                </div>
            </div>
        </div>

        {% include footer.html %}


</body>

</html>