---
title: Call for Sponsorship
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}

    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
            </div>

            <div class="col-sm-12 col-md-9">

                <h2>Call for Sponsorship</h2>

                <p>The 11th ACM Web Search and Data Mining (WSDM) Conference will be held in the Los Angeles, California, during February 5th to 9th, 2018.</p>

                <p>WSDM publishes original, high quality papers and presentations related to search and data mining on the Web and the Social Web, with an emphasis on practical but principled novel models of search, retrieval and data mining, algorithm design and analysis, economic implications, and in-depth experimental analysis of accuracy and performance. WSDM 2018 is a highly selective, single-track meeting that will include invited talks as well as oral and poster presentations of refereed papers. WSDM 2018 will also include workshops and tutorials in the related research areas.
                </p>

                <p><a href="index.html">http://www.wsdm-conference.org/2018/</a></p>

                <p>On behalf of the WSDM 2018 Organizing Committee, we invite you to consider becoming a sponsor. You
                    are welcome to choose from:</p>

                <h3>Diamond Level Sponsorship (price on request, minimum USD $30,000)</h3>
                <ul>
                    <li>Advance recognition as Diamond supporter on the web.
                    <li>Recognized as a Diamond supporter on the conference program.
                    <li>Large exhibit space in foyer.
                    <li>Five complimentary registrations for the conference.
                    <li>Recognition as host of a meal or other conference event (Diamond sponsors have priority in
                        selecting their hosting meal/event though cost varies per event), including one or more of the
                        following:
                        <ul>
                            <li>Welcome Reception/Industry Day Reception
                            <li>Poster Reception
                            <li>Conference Banquet
                            <li>Workshop/Industry Day Lunch
                            <li>Conference Lunch
                            <li>Business Meeting Lunch
                            <li>Other Events Possible with Request
                        </ul>
                </ul>

                <h3>Platinum Level Sponsorship (USD $15,000)</h3>
                <ul>
                    <li>Advance recognition as Platinum supporter on the web.
                    <li>Recognized as a Platinum supporter on the conference program.
                    <li>Large exhibit space in foyer.
                    <li>Four complimentary registrations for the conference.
                    <li>Recognition as host of a conference.
                </ul>

                <h3>Gold Level Sponsorship (USD $7,500)</h3>
                <ul>
                    <li>Advance recognition as Gold supporter on the web.
                    <li>Recognized as a Gold supporter on the conference program.
                    <li>Exhibit space in foyer.
                    <li>Three complimentary registrations for the conference.
                </ul>

                <h3>Platinum and Gold Level Sponsorship Additional Opportunities:</h3>
                <p>Platinum and Gold sponsors are welcome to sponsor, at an additional cost, one or more of the
                    following:</p>
                <ul>
                    <li>Student Travel
                    <li>Doctoral Consortium
                    <li>Best Paper Award (min: USD $1000)
                    <li>Best Student Paper Award (min: USD $500)
                    <li>USB Memory Sticks for Proceedings
                </ul>

                <h3>Silver Level Sponsorship (USD $4,000)</h3>
                <ul>
                    <li>Advance recognition as Silver supporter on the web.
                    <li>Recognized as a Silver supporter on the conference program.
                    <li>Exhibit space in foyer.
                    <li>Two complimentary registrations for the conference.
                </ul>

                <h3>Bronze Level Sponsorship (USD $2,000)</h3>
                <ul>
                    <li>Advance recognition as Bronze supporter on the web.
                    <li>Recognized as a Bronze supporter on the conference program.
                    <li>One complimentary registration for the conference.
                </ul>

                <p>In addition to the five basic levels of sponsorship, you may also find other opportunities to lend
                    further support to WSDM 2018's worthwhile activities.</p>

                <p>Please do not hesitate to contact us for more information on the sponsorship plan.</p>

                <p>We look forward to your generous support to make WSDM 2018 a great success! </p>
                <p>
                    Sponsorship Co-Chair:
                </p>
                    <table class="names">
                        <tr>
                            <td>Shipeng Yu</td>
                            <td>LinkedIn</td>
                            <td>shipeng.yu@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Dawei Yin</td>
                            <td>JD.com</td>
                            <td>yindawei@outlook.com</td>
                        </tr>
                    </table>

                <!--<p>Yours sincerely,<br/>-->

                    <!--WSDM 2018 Sponsorship Co-chairs</p>-->
            </div>
        </div>
    </div>
</div><!-- end container -->


{% include footer.html %}

</body>

</html>