---
title: Doctoral Consortium
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}

    <style type="text/css">
        .color-outline {
            color: #0070c0;
        }
    </style>
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}


    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
            </div>

            <div class="col-sm-12 col-md-9">

                <h2>WSDM 2018 Doctoral Consortium</h2>

                <p>The WSDM 2018 Doctoral Consortium will provide doctoral students with a unique opportunity to have
                    substantive interaction with experienced researchers regarding their proposed dissertation
                    research.</p>
                <p>The objectives of the Doctoral Consortium are:</p>
                <ul>
                    <li>To provide a forum where doctoral students can present and discuss their research work (and
                        their research career) with experienced researchers, likely from both academia and industry, in
                        the area of Web Search and Data Mining who are members of the Doctoral Consortium Committee
                        (they are also called "mentors").
                    </li>
                    <li>To provide students with an opportunity to establish a supportive community, including other
                        doctoral students working in related areas or at a similar stage of their dissertation research.
                    </li>
                </ul>
                <p>The Consortium will take place on Feb. 5, 2018. The format will include student presentations with
                    plenary discussions, individual meetings with experienced researchers, discussions over lunch and
                    breaks, and panel discussions.</p>
                <p>Candidates for the Doctoral Consortium will be selected based on the potential of their research for
                    future impact on the field of Web Search and Data Mining and the likely benefit to the student of
                    participating in the Consortium. Prospective attendees should have written or made significant
                    progress toward a thesis proposal (or equivalent). We will also consider late-stage students close
                    to completing the thesis itself, but expect less benefit to accrue to these students.</p>
                <p>This selection will be based in part on a written submission, singly authored by the student. The
                    submission may contain previously-published material, as well as ongoing work. Doctoral students who
                    submit to the Consortium are welcome to submit papers or posters to WSDM and associated workshops.
                    Students accepted to the Consortium will have the option of publishing a 1-page extended abstract
                    summarizing their research in the full conference proceedings.</p>
                <p>Presenting students will be eligible to apply for travel support through sponsoring organizations
                    such as ACM SIGIR. Details of how to apply will be made available to students whose proposals are
                    accepted for presentation.</p>
                <h3>Keynote Speakers</h3>
                <ul>
                    <li>Lada Adamic, Computational social scientist at Facebook</li>
                    <li>Xifeng Yan, Professor of Univ. of California at Santa Barbara</li>
                </ul>
                <h3>Mentors</h3>
                <ul>
                    <li>Lada Adamic, Leading Computational Social Scientist at Facebook</li>
                    <li>Austin R. Benson, Assistant Professor at Cornell University</li>
                    <li>Alex Beutel, Senior Research Scientist at Google Research</li>
                    <li>James Caverlee, Associate Professor at Texas A&amp;M University</li>
                    <li>Alistair Moffat, Professor at The University of Melbourne</li>
                    <li>Jiliang Tang, Assistant professor at Michigan State University</li>
                    <li>Xifeng Yan, Professor at Univ. of California at Santa Barbara</li>
                </ul>
                <h3>Detailed Program</h3>
                <p><strong>Open events (all the WSDM 2018 attendees are encouraged to participate)</strong></p>
                <ul>
                    <li>
                        <span class="color-outline">9:00-10:00am Opening and Keynotes </span>
                        <ul>
                            <li>9:00-9:30am, Lada Adamic, Title: TBD</li>
                            <li>9:30-10:00am, Xifeng Yan, Title: TBD</li>
                        </ul>
                    </li>
                    <li>
                        <span class="color-outline">10:00-10:30am PhD students presentation Part I (8 mins presentation + 2min Q&amp;A) </span>
                        <ul>
                            <li>Aastha Nigam (University of Notre Dame), <em>&ldquo;Beyond Who and What: Data Driven
                                Approaches for User Characterization&rdquo;</em></li>
                            <li>Jiezhong Qiu (Tsinghua University), <em>&ldquo;Engagement and Incentives in Online
                                Community: Observational Data, Prediction Models, and Field Experiments&rdquo;</em></li>
                            <li>Maram Hasanain (Qatar University), &ldquo;<em>Automatic Ranking of Information Retrieval
                                Systems&rdquo;</em></li>
                        </ul>
                    </li>
                    <li><span class="color-outline">10:30-11:00am Coffee Break</span></li>
                    <li><span class="color-outline">11:00-11:40am PhD students presentation Part II (8 mins presentation + 2min Q&amp;A) </span>
                        <ul>
                            <li>Zijun Yao (Rutgers University), <em>&ldquo;Exploiting Human Mobility Patterns for
                                Point-of-Interest Recommendation&rdquo;</em></li>
                            <li>Chen Chen (Arizona State University), <em>&ldquo;Connectivity in Complex Networks:
                                Measures, Inference and Optimization&rdquo;</em></li>
                            <li>Sandeepa Kannangara (The University of New South Wales), <em>&ldquo;Mining Twitter for
                                Fine-Grained Political Opinion Polarity Classification, Ideology Detection and Sarcasm
                                Detection&rdquo;</em></li>
                            <li>John Calvo (UNSW), <em>&ldquo;Event Mining over Distributed Text Streams&rdquo;</em>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p><strong>Closed-door event (open for PhD students with accepted papers and mentors) </strong></p>
                <ul>
                    <li><span class="color-outline">11:45am-12:30pm 1-1 mentoring meeting </span>
                        <ul>
                            <li>11:45am-12:05pm (Round 1)</li>
                            <li>12:10pm-12:30pm (Round 2)</li>
                        </ul>
                    </li>
                </ul>
                <h3>Submission Guidelines</h3>
                <p>The submission has two parts. The first part, a research statement, should be no more than five (5)
                    pages long. It will be the basis for detailed discussions at the Consortium, and should include:</p>
                <ul>
                    <li>Motivation for the dissertation research and main research questions.</li>
                    <li>Background and related work (including key references).</li>
                    <li>Overview of student's research direction, which may include previously presented work as well as
                        ongoing or proposed research.
                    </li>
                    <li>Research methodology and proposed experiments (where appropriate).</li>
                    <li>Specific research issues for discussion at the Doctoral Consortium.</li>
                </ul>
                <p>The second part, limited to one (1) page, describes benefits that would be obtained by attending the
                    Consortium. It should be added as an appendix to the research statement and include:</p>
                <ul>
                    <li>A statement by the student saying why they want to attend the Consortium.</li>
                    <li>A brief statement (1 paragraph) by their advisor saying how the student would benefit by
                        attending the Consortium. Advisors should also specifically state whether the student has
                        written, or is close to completing, a thesis proposal (or equivalent), and when they expect the
                        student would defend their dissertation if they progress at a typical rate.
                    </li>
                </ul>
                <h3>Format Requirements</h3>
                <p>Submissions must be written in English and submitted in the ACM Conference style (for LaTeX, use the
                    "Option 2" style). The submission should be no more than 5 pages in length including all figures and
                    references, but not including the one page appendix. The first page must contain the title of the
                    submission, full author name, affiliation and contact details, an abstract of up to 250 words, ACM
                    Computing Reviews categories, and up to 3 keywords describing the topic areas. Information about
                    categories and keywords can be found in the ACM Web pages on the computing classification system and
                    in the LaTeX and Word templates.</p>
                <h3>Submissions</h3>
                <p>Consortium submissions must be in PDF format and submitted via the submission system.<br/>Submissions
                    will be reviewed by the members of the Doctoral Consortium Committee.</p>
                <p>EasyChair submission link:&nbsp;<a href="https://easychair.org/conferences/?conf=wsdm2018dc"
                                                      target="_blank">https://easychair.org/conferences/?conf=wsdm2018dc</a>
                </p>
                <h3>Key Dates</h3>
                <ul>
                    <li><span style="text-decoration: line-through;">October 27, 2017 &ndash; Doctoral Consortium submissions due</span>
                    </li>
                    <li><span
                            style="text-decoration: line-through;">December 4, 2017 &ndash; Notification of decisions</span>
                    </li>
                    <li><strong>February 5, 2018 &ndash; Doctoral Consortium at WSDM 2018</strong></li>
                </ul>
                <h3>Doctoral Consortium Co-Chairs</h3>
                <ul>
                    <li>Hui Fang, University of Delaware</li>
                    <li>Yizhou Sun, UCLA</li>
                </ul>
                <h3>Program Committee</h3>
                <ul>
                    <li>Jing Gao (University at Buffalo)</li>
                    <li>Jaap Kamps (University of Amsterdam)</li>
                    <li>Zhenhui Jessie Li (PSU)</li>
                    <li>Julian Mcauley (UCSD)</li>
                    <li>Mark Sanderson (RMIT University)</li>
                    <li>Hanghang Tong (ASU)</li>
                </ul>
                <p>&nbsp;</p>


            </div>
        </div><!-- end row -->
    </div>
</div><!-- end container -->


{% include footer.html %}

</body>

</html>