---
title: "WSDM 2018 - The 11th ACM International Conference on Web Search and Data Mining, Los Angeles, California, USA,  2018."
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>

{% include navbar.html %}


<div class="container">
    {% include front-logo.html%}
    <div class="row">
        <div id="tiles" class="container">

            <!--<div class="col-md-1 col-sm-0 col-xs-0"></div>-->

            <div class="col-md-8 col-sm-7 col-xs-12">


                <div class="tile nopadding">
                    {% include carousel.html %}
                </div>


                <!-- <div class="tile invert">
                <h2>See you at WSDM 2019!</h2>
                <a href="http://www.wsdm-conference.org/2019/">WSDM 2019</a> is going to be held in TBA.
                </div> -->


                <!-- ===== important dates START ===== -->
                <div class="tile" style="padding: 10px 10px 2px 10px;">

                    <div style="font-size:1.5em; margin-bottom:10px;">Important Dates</div>

                    <div class="list-group">

                        <a class="list-group-item list-group-item-done" href="schedule.html">
                            <span class="badge">Aug 4, 2017</span>
                            <div class="list-group-item-text">Papers Abstracts Due
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-done" href="schedule.html">
                            <span class="badge">Aug 12, 2017</span>
                            <div class="list-group-item-text">Papers Due
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-done" href="call-for-participants.html">
                            <span class="badge">Sep 15, 2017</span>
                            <div class="list-group-item-text">WSDM Cup Begins
                            </div>
                        </a>

                        <a class="list-group-item list-group-item-done" href="accepted-papers.html">
                            <span class="badge">Oct 23, 2017</span>
                            <div class="list-group-item-text">Paper Notifications
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-done" href="call-for-participants.html">
                            <span class="badge">Dec 17, 2017</span>
                            <div class="list-group-item-text">WSDM Cup Ends
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-done" href="attending.html#registration">
                            <span class="badge">Feb 4, 2018</span>
                            <div class="list-group-item-text">Late Registration Due</div>
                        </a>
                        <!--<a class="list-group-item " href="attending.html">-->
                        <!--<span class="badge">Feb 5-9, 2018</span>-->
                        <!--<div class="list-group-item-text">Conference</div>-->
                        <!--</a>-->
                        <a class="list-group-item list-group-item-done" href="industry-day.html">
                            <span class="badge">Feb 5, 2018</span>
                            <div class="list-group-item-text">Industry Day, Tutorials</div>
                        </a>
                        <a class="list-group-item list-group-item-done" href="attending.html">
                            <span class="badge">Feb 6-8, 2018</span>
                            <div class="list-group-item-text">Main Conference</div>
                        </a>
                        <a class="list-group-item list-group-item-done" href="workshops.html">
                            <span class="badge">Feb 9, 2018</span>
                            <div class="list-group-item-text">Workshops</div>
                        </a>


                    </div>

                </div>


                <!-- ===== important dates END ===== -->

                <div class="tile">
                    <h2>Best Paper Awards</h2>
                    <p>
                        The best paper awards for WSDM 2018 are available now:

                    </p>

                    <div class="paper-list">
                        <h4>Best Paper Award</h4>
                        <div class="title">Index Compression Using Byte-Aligned ANS Coding and Two-Dimensional
                            Contexts
                        </div>

                        <div class="authors">Alistair Moffat and Matthias Petri</div>

                        <h4>Best Student Paper Award</h4>


                        <div class="title">A Path-constrained Framework for Discriminating Substitutable and
                            Complementary Products in Ecommerce
                        </div>
                        <div class="authors">Zihan Wang, Ziheng Jiang, Zhaochun Ren, Jiliang Tang and Dawei
                            Yin
                        </div>

                        <h4>Best Paper Honorable Mentions </h4>
                        <div class="title">Unsubscription: A Simple Way to Ease Overload in Email
                        </div>
                        <div class="authors">Iftah Gamzu, Liane Lewin-Eytan and Natalia Silberstein</div>

                        <div class="title">Offline A/B testing for recommender systems
                        </div>

                        <div class="authors">Alexandre Gilotte, Clement Calauzenes, Thomas Nedelec, Alexandre
                            Abraham and Simon Dolle
                        </div>

                        <h4>Test of Time Paper Award</h4>
                        <div class="title">Finding High-Quality Content in Social Media
                        </div>
                        <div class="authors">Eugene Agichtein, Carlos Castillo, Debora Donato, Aristides Gionis and
                            Gilad
                            Mishne
                        </div>
                    </div>


                </div>

                <div class="tile">
                    <h2>Best Paper Nominees (Sponsored by Baidu)</h2>
                    <p>
                        The best paper nominees for WSDM 2018 (ordered by <a href="schedule.html#day4">presentation
                        time</a>) are:

                    </p>

                    <ul class="paper-list">
                        <li>
                            <div class="title">A Path-constrained Framework for Discriminating Substitutable and
                                Complementary Products in Ecommerce
                            </div>
                            <div class="authors">Zihan Wang, Ziheng Jiang, Zhaochun Ren, Jiliang Tang and Dawei
                                Yin
                            </div>
                        </li>

                        <li>
                            <div class="title">Unsubscription: A Simple Way to Ease Overload in Email
                            </div>
                            <div class="authors">Iftah Gamzu, Liane Lewin-Eytan and Natalia Silberstein</div>

                        </li>

                        <li>
                            <div class="title">Index Compression Using Byte-Aligned ANS Coding and Two-Dimensional
                                Contexts
                            </div>

                            <div class="authors">Alistair Moffat and Matthias Petri</div>

                        </li>

                        <li>
                            <div class="title">Offline A/B testing for recommender systems
                            </div>

                            <div class="authors">Alexandre Gilotte, Clement Calauzenes, Thomas Nedelec, Alexandre
                                Abraham and
                                Simon Dolle
                            </div>
                        </li>

                    </ul>

                </div>


                <div class="tile" style="font-size:1.1em;">
                    <h2>VC & Industry Day</h2>
                    This year WSDM will host a VC and Industry day focused on the interaction of the search and data
                    mining communities with the VC and Industry communities.
                    {% include industry_carousel.html %}
                </div>

                <div class="tile" style="font-size:1.1em;">
                    <h2>WSDM 2018 Overview</h2>
                    <strong>WSDM</strong> (pronounced "wisdom") is one of the the premier conferences on web inspired
                    research involving search and data mining.
                    <p>
                        This year's program will include <a href="invited-speakers.html#keynote-speakers">keynotes and
                        nvited talks </a>, <a href="accepted-papers.html">paper presentations</a>, 8 <a
                            href="workshops.html">workshops</a>, 8 <a href="tutorials.html"> tutorials</a>, a <a
                            href="doctoral-consortium.html">doctoral consortium</a>, a <a href="industry-day.html">VC/Industry
                        Day</a>, and a WSDM Cup competition.

                        <br/>
                        <a class="btn btn-primary btn-lg" href="schedule.html" role="button"
                           style="margin-top: 5px">See the Schedule</a>
                    </p>

                    <p>
                        WSDM publishes original, high quality papers and presentations, with an emphasis on practical
                        but principled novel models of search, retrieval and data mining, algorithm design and analysis,
                        economic implications, and in-depth experimental analysis of accuracy and performance.
                    </p>
                    <!--  The Ninth ACM International WSDM Conference will take place in San Francisco, California, USA during 22-25 February 2016. -->
                </div>
                <div class="tile">
                    <h2>Conference Registration</h2>
                    <a class="btn btn-info btn-lg" href="attending.html#registration" role="button"
                       style="margin-top: 5px">See the Registration Information</a>
                </div>


                <div class="tile">
                    <h2>Banquet Information</h2>

                    <!--TODO: Add image and video from http://www.fantaseayachts.com/yachts/fantaseaone/video.shtml and http://fantaseastudio.zenfolio.com/p856109354-->
                    WSDM 2018 banquet will be hosted on two yachts, FantaSea One Yacht and RegentSea Yacht. Please
                    boarding with a banquet ticket.
                    <div style="margin: 10px auto;">
                        <h4>FantaSea One Yacht</h4>

                        <img src="img/attending/banquet_image_01.jpg"/>
                    </div>

                    <div style="margin: 10px auto;">
                        <h4>RegentSea Yacht</h4>
                        <img src="img/attending/small_yacht.jpg"/>
                    </div>
                    <!--This year's WSDM banquet will be hosted on FantaSea One yacht. FantaSea One is an ultra-modern-->
                    <!--mega-yacht with four levels that can accommodate up to 300 guests with plenty of spaces to spare. It-->
                    <!--is the largest, most luxurious yacht in Marina del Rey. Her four expansive decks allow for a variety-->
                    <!--of scenery and a spatial progression to our banquet events. We will board FantaSea One directly from-->
                    <!--deck close to Ritz-Carlton hotel at sunset time, and cruise the Marina while enjoying the full-->
                    <!--course diner banquet. Hope everyone have a wonder evening at WSDM 2018 banquet.-->

                    <!--More pictures of the FantaSea One yacht are available-->
                    <!--<a href="http://fantaseastudio.zenfolio.com/p856109354" target="_blank">here</a>-->
                    <!--and the corresponding video can be found <a-->
                    <!--href="http://www.fantaseayachts.com/yachts/fantaseaone/video.shtml" target="_blank">here</a>.-->
                </div>

            </div>


            <div class="col-md-4 col-sm-5 col-xs-12">
                <div id="sidebar">
                    <!-- ===== social media icons START -->
                    <div class="tile" style="padding: 10px 20px; text-align: center">
                        <a class="social-icon" href="http://www.facebook.com/wsdmsocial" alt="ACM WSDM Facebook page"
                           target="_blank"><i class="fa fa-facebook" style="font-size:1.5em;"></i></a>
                        <a href="http://www.facebook.com/wsdmsocial">Like</a> us.
                        &nbsp;&nbsp;
                        <a class="social-icon" href="https://twitter.com/wsdmsocial"
                           alt="ACM WSDM @WSDMSocial Twitter profile" target="_blank"><i class="fa fa-twitter"
                                                                                         style="font-size:1.5em;"></i></a>
                        <a href="http://twitter.com/wsdmsocial">Follow</a> us.
                    </div>
                    <!-- ===== social media icons END -->


                    <div class="tile nopadding">
                        <div id="fb-root"></div>
                        <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=603078449809460";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>

                        <div class="fb-page" data-href="https://www.facebook.com/WSDMSocial" data-width="280"
                             data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/WSDMSocial"><a
                                        href="https://www.facebook.com/WSDMSocial">WSDM</a></blockquote>
                            </div>
                        </div>
                    </div>

                    <div class="tile nopadding">
                        <a class="twitter-timeline" href="https://twitter.com/WSDMSocial" height="300">Tweets by
                            WSDMSocial</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                    <div class="tile">
                        <h2>Sponsors &amp; Supporters</h2>
                        <div id="sponsors">
                            <h3>Platinum</h3>
                            <a href="http://www.linkedin.com/" target="_blank" class="platinum-sponsor"><img
                                    src="img/sponsors/linkedin.png" style="width:250px;"/></a>
                            <a href="https://www.microsoft.com/en-us/" target="_blank" class="platinum-sponsor"><img
                                    src="img/sponsors/microsoft.png" style="width:250px;"/></a>

                            <h3>Gold</h3>
                            <a href="http://www.huawei.com/en" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/huawei.png" style="width:120px;"/></a>
                            <a href="http://www.baidu.com/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/baidu.png" style="width:200px;"/></a>
                            <a href="http://www.adobe.com/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/adobe.png" style="width:100px;"/></a>
                            <a href="https://www.snap.com/en-US/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/snap.png" style="width:200px;"/></a>
                            <!--<a href="http://www.kaggle.com/" target="_blank" class="gold-sponsor"><img src="img/sponsors/kaggle.png" style="width:180px;"/></a>-->
                            <a href="http://www.amazon.com/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/amazon.png" style="width:200px;"/></a>
                            <a href="http://www.google.com/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/google.png" style="width:200px;"/></a>
                            <a href="https://research.yahoo.com/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/yahoo_research.png" style="width:200px;"/></a>
                            <a href="https://facebook.com/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/facebook.png" style="width:220px;"/></a>
                            <a href="https://www.ebay.com/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/ebay.png" style="width:180px;"/></a>


                            <h3>Silver</h3>
                            <a href="http://ai.tencent.com/ailab/index.html" target="_blank" class="silver-sponsor"><img
                                    src="img/sponsors/tencent_ai.png" style="width: 150px;"/></a>
                            <a href="https://www.jd.com/" target="_blank" class="silver-sponsor"><img
                                    src="img/sponsors/jd.png" style="width: 120px;"/></a>
                            <a href="https://www.creditx.com/" target="_blank" class="silver-sponsor"><img
                                    src="img/sponsors/creditx.png" style="width: 120px;"/></a>
                            <a href="https://www.hulu.com/" target="_blank" class="silver-sponsor"><img
                                    src="img/sponsors/hulu.jpg" style="width: 120px;"/></a>

                            <a href="https://www.appen.com/" target="_blank" class="silver-sponsor"><img
                                    src="img/sponsors/appen.png" style="width: 130px;"/></a>
                            <a href="https://www.techatbloomberg.com/post-topic/data-science/" target="_blank"
                               class="silver-sponsor"><img
                                    src="img/sponsors/bloomberg.png" style="width: 150px;"/></a>

                            <h3>Bronze</h3>
                            <a href="https://www.pinterest.com/" target="_blank" class="bronze-sponsor"><img
                                    src="img/sponsors/pinterest.png" style="width: 120px;"/></a>
                            <a href="https://www.zillow.com/" target="_blank" class="bronze-sponsor"><img
                                    src="img/sponsors/zillow.jpg" style="width: 100px;"/></a>

                            <h3>WSDM Cup Gold</h3>
                            <a href="http://www.kkbox.com/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/kkbox.png" style="width:220px;"/></a>
                            <a href="http://www.kaggle.com/" target="_blank" class="gold-sponsor"><img
                                    src="img/sponsors/kaggle.png" style="width:180px;"/></a>
                            <h3>Publisher Supporter</h3>
                            <a href="http://www.cambridge.org/" target="_blank" class="publisher-sponsor"><img
                                    src="img/sponsors/cambridge_press.jpg" style="width:125px;"/></a>

                            <p class="sponsorship-call"><a href="call-for-sponsorship.html">Call for Sponsorship</a></p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div><!-- end row -->
</div><!-- end container -->


{% include footer.html %}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5884671870fb9853"></script>-->
</body>

</html>