---
title: Organizers
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}


    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
                <div id="sidenav">
                    <ul class="nav ">
                        <li><a class="link-button" href="#organizing-committee">Organizing Committee</a></li>
                        <li><a class="link-button" href="#steering-committee">Steering Committee</a></li>
                        <li><a class="link-button" href="#senior-program-committee">Senior Program Committee</a></li>
                        <li><a class="link-button" href="#program-committee">Program Committee</a></li>
                        <li><a class="link-button" href="#best-paper-committee">Best Paper Award Committee</a></li>
                        <li><a class="link-button" href="#pc-faq">Program Committee - FAQ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">

                <div id="organizers">
                    <a class="anchor" name="organizing-committee" id="organizing-committee"></a>
                    <h2>Organizing Committee</h2>
                    <h4>General Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://yichang-cs.com/">
                                    <img src="img/organizers/yi_chang.jpg"/>
                                    Yi Chang</a><br/>
                                Huawei Research America
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://czhai.cs.illinois.edu/">
                                    <img src="img/organizers/chengxiang_zhai.jpg"/>
                                    Chengxiang Zhai</a><br/>
                                University of Illinois Urbana-Champaign
                            </div>
                        </li>
                    </ul>
                    <h4>PC Chair</h4>
                    <ul>

                        <li class="person-card">
                            <div>
                                <a href="http://www-bcf.usc.edu/~liu32/">
                                    <img src="img/organizers/yan_liu.jpg"/>
                                    Yan Liu</a><br/>
                                University of Southern California
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://yoelle.tumblr.com/homepage">
                                    <img src="img/organizers/yoelle_maarek.png"/>
                                    Yoelle Maarek</a><br/>
                                Amazon
                            </div>
                        </li>
                    </ul>
                    <h4>Treasurer</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://www.yorku.ca/jhuang/">
                                    <img src="img/organizers/jimmy_huang.jpg"/>
                                    Jimmy Huang</a><br/>
                                York University
                            </div>
                        </li>
                    </ul>
                    <h4>Local Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://www.luojie.me/">
                                    <img src="img/organizers/roger_luo.jpg"/>
                                    Roger Luo</a><br/>
                                Snapchat
                            </div>
                        </li>
                    </ul>
                    <h4>VC &amp; Industry Day Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://yanrong.info/">
                                    <img src="img/organizers/rong_yan.jpg"/>
                                    Rong Yan</a><br/>
                                Snapchat
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://www.cs.technion.ac.il/~gabr/">
                                    <img src="img/organizers/evgeniy_gabrilovich.jpg"/>
                                    Evgeniy Gabrilovich</a><br/>
                                Google Research
                            </div>
                        </li>
                    </ul>

                    <h4>Tutorial Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="https://davidcarmel.org/about/">
                                    <img src="img/organizers/david_carmel.jpg"/>
                                    David Carmel</a><br/>
                                Amazon Research
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://humanities.uva.nl/~kamps/">
                                    <img src="img/organizers/jaap_kamps.jpg"/>
                                    Jaap Kamps</a><br/>
                                University of Amsterdam
                            </div>
                        </li>
                    </ul>
                    <h4>Workshop Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://www.cse.msu.edu/~tangjili/">
                                    <img src="img/organizers/jiliang_tang.jpg"/>
                                    Jiliang Tang</a><br/>
                                Michigan State University <!--left Yahoo Research on Aug 2016 -->

                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://www.mathcs.emory.edu/~eugene/">
                                    <img src="img/organizers/eugene_agichtein.jpg"/>
                                    Eugene Agichtein</a><br/>
                                Emory University
                            </div>
                        </li>
                    </ul>
                    <h4>WSDM Cup Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="https://www.csie.ntu.edu.tw/~sdlin/">
                                    <img src="img/organizers/shoude_lin.jpg"/>
                                    Shou-De Lin</a><br/>
                                National Taiwan University
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="https://www.microsoft.com/en-us/research/people/xingx/">
                                    <img src="img/organizers/xing_xie.jpg"/>
                                    Xing Xie</a><br/>
                                Microsoft Research
                            </div>
                        </li>
                    </ul>
                    <h4>Doctoral Consortium Chair</h4>
                    <ul>

                        <li class="person-card">
                            <div>
                                <a href="http://web.cs.ucla.edu/~yzsun/">
                                    <img src="img/organizers/yizhou_sun.jpg"/>
                                    Yizhou Sun</a><br/>
                                University of California, Los Angeles
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="https://www.eecis.udel.edu/~hfang/">
                                    <img src="img/organizers/hui_fang.jpg"/>
                                    Hui Fang</a><br/>
                                University of Delaware
                            </div>
                        </li>
                    </ul>
                    <h4>Best Paper Award Chair</h4>
                    <ul>

                        <li class="person-card">
                            <div>
                                <a href="https://plg.uwaterloo.ca/~claclark/">
                                    <img src="img/organizers/charlie_clarker.jpg"/>
                                    Charlies Clarke</a><br/>
                                Facebook
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://www.public.asu.edu/~huanliu/">
                                    <img src="img/organizers/huan_liu.jpg"/>
                                    Huan Liu</a><br/>
                                Arizona State University
                            </div>
                        </li>
                    </ul>
                    <h4>Test of Time Award Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://fernando.diaz.nyc/">
                                    <img src="img/organizers/fernando_diaz.jpg"/>
                                    Fernando Diaz</a><br/>
                                Spotify
                            </div>
                        </li>
                    </ul>
                    <h4>Sponsorship Co-Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://www.yindawei.com/">
                                    <img src="img/organizers/dawei_yin.jpg"/>
                                    Dawei Yin</a><br/>
                                JD.com
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="https://www.linkedin.com/in/shipengyu">
                                    <img src="img/organizers/shipeng_yu.jpg"/>
                                    Shipeng Yu</a><br/>
                                LinkedIn
                            </div>
                        </li>
                    </ul>
                    <h4>Media and Publicity Chair</h4>
                    <ul>

                        <li class="person-card">
                            <div>
                                <a href="https://sites.google.com/site/zren87/">
                                    <img src="img/organizers/zhaochun_ren.jpg"/>
                                    Zhaochun Ren</a><br/>
                                JD.com
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://www.makotoyamada-ml.com/">
                                    <img src="img/organizers/makoto_yamda.jpg"/>
                                    Makoto Yamada</a><br/>
                                RIKEN AIP
                            </div>
                        </li>
                    </ul>
                    <h4>Poster & Demo Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://www.cs.virginia.edu/~hw5x/">
                                    <img src="img/organizers/hongning_wang.jpg"/>
                                    Hongning Wang</a><br/>
                                University of Virginia
                            </div>
                        </li>
                    </ul>
                    <h4>Proceedings Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://roseyu.com/">
                                    <img src="img/organizers/qi_yu.jpg"/>
                                    Qi (Rose) Yu</a><br/>
                                Caltech
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="https://research.yahoo.com/researchers/jianhui">
                                    <img src="img/organizers/jianhui_chen.jpg"/>
                                    Jianhui Chen</a><br/>
                                Yahoo Research
                            </div>
                        </li>

                    </ul>
                    <h4>Workflow Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://natalir.space/">
                                    <img src="img/organizers/natali_ruchansky.jpg"/>
                                    Natali Ruchansky</a><br/>
                                Hush, Inc.
                            </div>
                        </li>

                    </ul>
                    <h4>Web Chair</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://www-scf.usc.edu/~yaguang/" target="_blank">
                                    <img src="img/organizers/yaguang_li.jpg"/>
                                    Yaguang Li</a><br/>
                                University of Southern California
                            </div>
                        </li>

                    </ul>


                    <div style="height: 30px; clear: both;"></div>


                    <a class="anchor" name="steering-committee" id="steering-committee"></a>
                    <h2>WSDM Steering Committee</h2>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://boldi.di.unimi.it/" target="_blank">
                                    <img src="img/organizers/paolo_boldi.jpeg"/>
                                    Paolo Boldi</a><br/>
                                University of Milano
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://www.cse.lehigh.edu/~brian/" target="_blank">
                                    <img src="img/organizers/brian_davison.jpg"/>
                                    Brian Davison</a><br/>
                                Lehigh University
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://susandumais.com/" target="_blank">
                                    <img src="img/organizers/susan_dumais.jpg"/>
                                    Susan Dumais</a><br/>
                                Microsoft
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://koudas01.utsc.utoronto.ca/~koudas/" target="_blank">
                                    <img src="img/organizers/nick_koudas.jpg"/>
                                    Nick Koudas</a><br/>
                                University of Toronto
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://www.hangli-hl.com/index.html" target="_blank">
                                    <img src="img/organizers/hang_li.jpg"/>
                                    Hang Li</a><br/>
                                Toutiao
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://yoelle.tumblr.com/homepage">
                                    <img src="img/organizers/yoelle_maarek.png"/>
                                    Yoelle Maarek</a><br/>
                                Amazon
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://marc.najork.org/" target="_blank">
                                    <img src="img/organizers/marc_najork.jpg"/>
                                    Marc Najork</a><br/>
                                Google (Chair)
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="https://www.sfu.ca/computing/people/faculty/jianpei.html" target="_blank">
                                    <img src="img/organizers/jian_pei.jpg"/>
                                    Jian Pei</a><br/>
                                Simon Fraser University
                            </div>
                        </li>

                    </ul>

                    <div style="height: 30px; clear: both;"></div>


                    <a class="anchor" name="senior-program-committee" id="senior-program-committee"></a>
                    <h2>Senior Program Committee</h2>
                    <ul>
                        <li>Lada Adamic (Facebook Inc)</li>
                        <li>Eytan Adar (University of Washington)</li>
                        <li>Deepak Agarwal (LinkedIn)</li>
                        <li>Charu Aggarwal (IBM)</li>
                        <li>Eugene Agichtein (Emory University)</li>
                        <li>Leman Akoglu (Carnegie Mellon University)</li>
                        <li>James Allan (UMass Amherst)</li>
                        <li>Aris Anagnostopoulos (Sapienza University of Rome)</li>
                        <li>Ricardo Baeza-Yates (NTENT)</li>
                        <li>Roberto Bayardo (Google)</li>
                        <li>Paul Bennett (Microsoft Research)</li>
                        <li>Edward Bortnikov (Yahoo Research)</li>
                        <li>Jamie Callan (Carnegie Mellon University)</li>
                        <li>Ed H. Chi (Google, Inc.)</li>
                        <li>Charles Clarke (Facebook)</li>
                        <li>Koby Crammer (The Technion)</li>
                        <li>Brian Davison (Lehigh University)</li>
                        <li>Maarten de Rijke (University of Amsterdam)</li>
                        <li>Arjen de Vries (Radboud University)</li>
                        <li>Fernando Diaz (Spotify)</li>
                        <li>Aristides Gionis (Aalto University)</li>
                        <li>Manuel Gomez Rodriguez (MPI for Software Systems)</li>
                        <li>Jimmy Huang (York University)</li>
                        <li>Ravi Kumar (Google)</li>
                        <li>Oren Kurland (Technion, Israel Institute of Technology)</li>
                        <li>Mounia Lalmas (Yahoo Research)</li>
                        <li>Ronny Lempel (Outbrain)</li>
                        <li>Kristina Lerman (University of Southern California)</li>
                        <li>Jure Leskovec (Stanford University)</li>
                        <li>Liane Lewin-Eytan (Amazon Reseasrch)</li>
                        <li>Hang Li (Toutiao)</li>
                        <li>Edo Liberty (Amazon)</li>
                        <li>Ee-Peng Lim (Singapore Management University)</li>
                        <li>Shou-De Lin (National Taiwan University)</li>
                        <li>Bing Liu (University of Illinois at Chicago)</li>
                        <li>Huan Liu (Arizona State University)</li>
                        <li>Qiaozhu Mei (University of Michigan)</li>
                        <li>Alistair Moffat (The University of Melbourne)</li>
                        <li>Marc Najork (Google)</li>
                        <li>Jennifer Neville (Purdue University)</li>
                        <li>Jian Pei (Simon Fraser University)</li>
                        <li>Dan Pelleg (Yahoo Research)</li>
                        <li>B. Aditya Prakash (Virginia Tech)</li>
                        <li>Kira Radinsky (eBay)</li>
                        <li>Filip Radlinski (Google)</li>
                        <li>Dafna Shahaf (The Hebrew University of Jerusalem)</li>
                        <li>Dou Shen (Microsoft Adcenter Labs)</li>
                        <li>Fabrizio Silvestri (Facebook)</li>
                        <li>Aya Soffer (IBM)</li>
                        <li>Le Song (Georgia Tech)</li>
                        <li>Jie Tang (Tsinghua University)</li>
                        <li>Andrew Tomkins (Google)</li>
                        <li>Hongning Wang (University of Virginia)</li>
                        <li>Wei Wang (UCLA)</li>
                        <li>Ryen W. White (Microsoft Research)</li>
                        <li>Makoto Yamada (RIKEN AIP)</li>
                        <li>Emine Yilmaz (University College London)</li>
                        <li>Dawei Yin (jd.com)</li>
                        <li>Hongyuan Zha (Georgia Institute of Technology)</li>
                        <li>Min Zhang (Tsinghua University)</li>
                    </ul>


                    <div style="height: 30px; clear: both;"></div>


                    <a class="anchor" name="program-committee" id="program-committee"></a>
                    <h2>Program Committee Members</h2>
                    <ul>
                        <li>Abdullah Mueen (University of New Mexico)</li>
                        <li>Adam Fourney (Microsoft)</li>
                        <li>Adam Jatowt (Kyoto University)</li>
                        <li>Adith Swaminathan (Microsoft)</li>
                        <li>Aditya Pal (Pinterest)</li>
                        <li>Ahmed Hassan Awadallah (Microsoft Research)</li>
                        <li>Aixin Sun (Nanyang Technological University)</li>
                        <li>Aleksandr Chuklin (Google Research Europe)</li>
                        <li>Alessandro Epasto (Google)</li>
                        <li>Alex Beutel (Google)</li>
                        <li>Alexander Kotov (Wayne State University)</li>
                        <li>Amir Ingber (Amazon)</li>
                        <li>Amit Goyal (IIIT Hyderabad)</li>
                        <li>Aneesh Sharma (Google)</li>
                        <li>Anirban Dasgupta (IIT Gandhinagar)</li>
                        <li>Anne Schuth (Google Research London)</li>
                        <li>Anthony Wirth (The University of Melbourne)</li>
                        <li>Antti Ukkonen (University of Helsinki)</li>
                        <li>Arnd Christian König (Microsoft)</li>
                        <li>Aston Zhang (Amazon AI)</li>
                        <li>Austin Benson (Cornell University)</li>
                        <li>Azin Ashkan (Google)</li>
                        <li>Baharan Mirzasoleiman (ETH Zurich)</li>
                        <li>Ben Carterette (University of Delaware)</li>
                        <li>Ben He (University of Chinese Academy of Sciences)</li>
                        <li>Ben Zhao (University of Chicago)</li>
                        <li>Benjamin Moseley (Carnegie Mellon University)</li>
                        <li>Benoit Dumoulin (Facebook)</li>
                        <li>Bin Gao (Microsoft)</li>
                        <li>Branislav Kveton (Adobe Research)</li>
                        <li>C. Seshadhri (University of California, Santa Cruz)</li>
                        <li>Carlos Castillo (Universitat Pompeu Fabra)</li>
                        <li>Carsten Eickhoff (ETH Zurich)</li>
                        <li>Cedric Archambeau (Amazon)</li>
                        <li>Chandan Reddy (Virginia Tech)</li>
                        <li>Charalampos Tsourakakis (Harvard University)</li>
                        <li>Cheng Li (University of Michigan)</li>
                        <li>Cheng-Te Li (National Cheng Kung University)</li>
                        <li>Chenyan Xiong (Carnegie Mellon University)</li>
                        <li>Chi Wang (Microsoft)</li>
                        <li>Christina Lioma (University of Copenhagen)</li>
                        <li>Christo Wilson (Northeastern University)</li>
                        <li>Chuan Shi (Beijing University of Posts and Telecommunications)</li>
                        <li>Claudia Hauff (Delft University of Technology)</li>
                        <li>Craig Macdonald (University of Glasgow)</li>
                        <li>Daifeng Li (Sun Yet-sen University)</li>
                        <li>Damien Lefortier (Facebook)</li>
                        <li>Danai Koutra (University of Michigan)</li>
                        <li>Daniel Romero (University of Michigan)</li>
                        <li>Daniele Quercia (Nokia Bell Labs Cambridge)</li>
                        <li>David Jurgens (Stanford University)</li>
                        <li>Denis Savenkov (Emory university)</li>
                        <li>Edgar Meij (Bloomberg L.P.)</li>
                        <li>Elad Yom-Tov (Microsoft)</li>
                        <li>Emre Kıcıman (Microsoft)</li>
                        <li>Evangelos Kanoulas (University of Amsterdam)</li>
                        <li>Evangelos Papalexakis (University of California Riverside)</li>
                        <li>Evimaria Terzi (Boston University)</li>
                        <li>Fangzhao Wu (Tsinghua University)</li>
                        <li>Fangzhao Wu (Microsoft)</li>
                        <li>Farshad Kooti (Facebook)</li>
                        <li>Fei Cai (National University of Defense Technology)</li>
                        <li>Fiana Raiber (Yahoo Research)</li>
                        <li>Fred Morstatter (University of Southern California)</li>
                        <li>Freddy Chua (Singapore Management University)</li>
                        <li>Gabriele Tolomei (University of Padua)</li>
                        <li>Gianmarco De Francisci Morales (Qatar Computing Research Institute)</li>
                        <li>Grace Hui Yang (Georgetown University)</li>
                        <li>Guido Zuccon (Queensland University of Technology)</li>
                        <li>Guoliang Li (Tsinghua University)</li>
                        <li>Haggai Roitman (IBM Research AI)</li>
                        <li>Hamed Zamani (University of Massachusetts Amherst)</li>
                        <li>Hanghang Tong (Arizona State University)</li>
                        <li>Hao Ma (Microsoft)</li>
                        <li>Hau Chan (University of Nebraska-Lincoln)</li>
                        <li>Hongbo Deng (Google)</li>
                        <li>Hsun-Ping Hsieh (National Cheng Kung University)</li>
                        <li>Huaiyu Wan (Beijing Jiaotong University)</li>
                        <li>Huan Gui (Facebook)</li>
                        <li>Hui Fang (University of Delaware)</li>
                        <li>Idan Szpektor (Google)</li>
                        <li>Ido Guy (eBay)</li>
                        <li>Iftah Gamzu (Amazon)</li>
                        <li>Ilaria Bordino (UniCredit R&D)</li>
                        <li>Imed Zitouni (Microsoft)</li>
                        <li>Ingmar Weber (Qatar Computing Research Institute)</li>
                        <li>Ioannis Arapakis (Telefonica Research)</li>
                        <li>Isabel Valera (MPI for Intelligent Systems)</li>
                        <li>Ismail Sengor Altingovde (Middle East Technical University)</li>
                        <li>Jaap Kamps (University of Amsterdam)</li>
                        <li>James Caverlee (Texas A&M University)</li>
                        <li>Jeffrey Xu Yu (Department of Systems Engineering & Engineering Management, Chinese University of Hong Kong)</li>
                        <li>Jiafeng Guo (Institute of Computing Technology)</li>
                        <li>Jian Tang (HEC Montreal & MILA)</li>
                        <li>Jiang Bian (Microsoft)</li>
                        <li>Jianyong Wang (Tsinghua University)</li>
                        <li>Jian-Yun Nie (University of Montreal)</li>
                        <li>Jiepu Jiang (College of Information and Computer Sciences, University of Massachusetts Amherst)</li>
                        <li>Jiliang Tang (Michigan State University)</li>
                        <li>Jimmy Lin (University of Waterloo)</li>
                        <li>Jing Gao (University at Buffalo)</li>
                        <li>Jingrui He (Arizona State University)</li>
                        <li>Joemon Jose (University of Glasgow)</li>
                        <li>Johan Ugander (Stanford University)</li>
                        <li>John Foley (University of Massachusetts Amherst)</li>
                        <li>Julia Kiseleva (UserSat.com & University of Amsterdam)</li>
                        <li>Julian Mcauley (University of California San Diego)</li>
                        <li>Jun Xu (Institute of Computing Technology, Chinese Academy of Sciences)</li>
                        <li>Karthik Subbian (Facebook)</li>
                        <li>Ke Zhou (University of Nottingham)</li>
                        <li>Kohei Hayashi (Tokyo Institute of Technology)</li>
                        <li>Konstantinos Dimopoulos (Amazon)</li>
                        <li>Konstantinos Pelechrinis (University of Pittsburgh)</li>
                        <li>Kostas Kollias (Google)</li>
                        <li>Kostas Tsioutsiouliklis (Yahoo Research)</li>
                        <li>Krishna Gummadi (MPI-SWS)</li>
                        <li>Krisztian Balog (University of Stavanger)</li>
                        <li>Laura Dietz (University of New Hampshire)</li>
                        <li>Liangda Li (Yahoo Research)</li>
                        <li>Liangjie Hong (Etsy Inc.)</li>
                        <li>Lingfei Wu (IBM Research AI)</li>
                        <li>Lingyang Chu (Simon Fraser University)</li>
                        <li>Liudmila Ostroumova Prokhorenkova (Yandex)</li>
                        <li>Luca Becchetti (Sapienza University of Rome)</li>
                        <li>Luca Maria Aiello (Nokia Bell Labs)</li>
                        <li>Ludovico Boratto (Eurecat)</li>
                        <li>Makoto P. Kato (Kyoto University)</li>
                        <li>Marc Bron (Yahoo Labs)</li>
                        <li>Marie-Francine Moens (Katholieke Universiteit Leuven)</li>
                        <li>Maryam Karimzadehgan (Google)</li>
                        <li>Mauro Sozio (Télécom ParisTech)</li>
                        <li>Max Vladymyrov (Google)</li>
                        <li>Maxim Gurevich (Uber)</li>
                        <li>Meng Jiang (University of Notre Dame)</li>
                        <li>Michael Bendersky (Google)</li>
                        <li>Michael Cole (LexisNexis)</li>
                        <li>Michael Mathioudakis (Aalto University)</li>
                        <li>Michele Catasta (Stanford University)</li>
                        <li>Mihajlo Grbovic (Airbnb)</li>
                        <li>Mi-Yen Yeh (Institute of Information Science, Academia Sinica)</li>
                        <li>Muhammad Bilal Zafar (MPI-SWS)</li>
                        <li>Myunghwan Kim (LinkedIn Corporation)</li>
                        <li>Nadav Golbandi (Google)</li>
                        <li>Nan Du (Google)</li>
                        <li>Natali Ruchansky (University of Southern California)</li>
                        <li>Neil O'Hare (Yahoo!)</li>
                        <li>Nemanja Djuric (Uber ATG)</li>
                        <li>Nick Craswell (Microsoft)</li>
                        <li>Nicola Tonellotto (ISTI-CNR)</li>
                        <li>Nir Grinberg (Northeastern and Harvard University)</li>
                        <li>Niranjan Balasubramanian (Stony Brook University)</li>
                        <li>Nitin Agarwal (University of Arkansas at Little Rock)</li>
                        <li>Oleg Rokhlenko (Amazon)</li>
                        <li>Omar Alonso (Microsoft)</li>
                        <li>Oren Somekh (Yahoo Research)</li>
                        <li>Ovidiu Dan (Lehigh University)</li>
                        <li>Panayiotis Tsaparas (University of Ioannina)</li>
                        <li>Parang Saraf (Virginia Tech)</li>
                        <li>Parikshit Sondhi (Neulogic Inc.)</li>
                        <li>Partha Talukdar (Indian Institute of Science)</li>
                        <li>Pauli Miettinen (Max Planck Institute for Informatics)</li>
                        <li>Peng Cui (Tsinghua University)</li>
                        <li>Pu-Jen Cheng (Dept. of CSIE, National Taiwan University)</li>
                        <li>Qi Zhang (Fudan University)</li>
                        <li>Qi Zhao (Google)</li>
                        <li>Quan Wang (Chinese Academy of Sciences)</li>
                        <li>Raffaele Perego (ISTI-CNR)</li>
                        <li>Reza Zafarani (Syracuse University)</li>
                        <li>Robert West (EPFL)</li>
                        <li>Rodrygo Santos (Universidade Federal de Minas Gerais)</li>
                        <li>Rossano Schifanella (University of Turin)</li>
                        <li>Ruihua Song (Microsoft)</li>
                        <li>Ruining He (Pinterest)</li>
                        <li>Sameep Mehta (IBM, India Research Lab)</li>
                        <li>Sanjay Chawla (Qatar Computing Research Institute, HBKU)</li>
                        <li>Sanjay Purushotham (University of Southern California)</li>
                        <li>Sergei Vassilvitskii (Google)</li>
                        <li>Shane Culpepper (RMIT University)</li>
                        <li>Shangsong Liang (University College London)</li>
                        <li>Shiyu Chang (IBM Research)</li>
                        <li>Shuai Ding (Google)</li>
                        <li>Shuai Li (Cambridge University)</li>
                        <li>Shuaiqiang Wang (The University of Manchester)</li>
                        <li>Silvio Lattanzi (Google)</li>
                        <li>Spiros Papadimitriou (Rutgers University)</li>
                        <li>Srijan Kumar (Stanford University)</li>
                        <li>Srinivasan Parthasarathy (The Ohio State University)</li>
                        <li>Steffen Rendle (Google)</li>
                        <li>Stergios Stergiou (Google)</li>
                        <li>Sujith Ravi (Google)</li>
                        <li>Takanori Maehara (RIKEN Center for Advanced Intelligence Project)</li>
                        <li>Tao Yang (Ask.com and UCSB)</li>
                        <li>Tijl De Bie (Ghent University)</li>
                        <li>Tim Althoff (Stanford University)</li>
                        <li>Tobias Schnabel (Cornell University)</li>
                        <li>Torsten Suel (New York University)</li>
                        <li>U Kang (Seoul National University)</li>
                        <li>Udo Kruschwitz (University of Essex)</li>
                        <li>Vladan Radosavljevic (Uber Advanced Technology Group)</li>
                        <li>Wai Lam (The Chinese University of Hong Kong)</li>
                        <li>Wei Ai (University of Michigan)</li>
                        <li>Wei Lu (Rupert Labs)</li>
                        <li>Wei Wu (Microsoft)</li>
                        <li>Wei Zhang (East China Normal University)</li>
                        <li>Weinan Zhang (Shanghai Jiao Tong University)</li>
                        <li>William Hamilton (Stanford University)</li>
                        <li>Xia Ben Hu (Texas A&M University)</li>
                        <li>Xiang Ren (University of Southern California)</li>
                        <li>Xiang Zhang (The Pennsylvania State University)</li>
                        <li>Xiangnan He (National University of Singapore)</li>
                        <li>Xiao Bai (Yahoo Research)</li>
                        <li>Xiao Yu (Google)</li>
                        <li>Xiaolu Lu (RMIT University)</li>
                        <li>Xin Jiang (Huawei Noah's Ark Lab)</li>
                        <li>Xinran He (University of Southern California)</li>
                        <li>Xuanhui Wang (Google)</li>
                        <li>Xuanjing Huang (Fudan University)</li>
                        <li>Yanen Li (University of Illinois at Urbana-Champaign)</li>
                        <li>Yang Song (Google)</li>
                        <li>Yang Yang (Tsinghua University)</li>
                        <li>Yanyan Lan (ICT)</li>
                        <li>Yelena Mejova (Qatar Computing Research Institute)</li>
                        <li>Yi Fang (Santa Clara University)</li>
                        <li>Yifan Hu (Yahoo Research)</li>
                        <li>Yintao Roger Yu (University of Illinois at Urbana-Champaign)</li>
                        <li>Yiqun Liu (Tsinghua University)</li>
                        <li>Yizhou Sun (University of California, Los Angeles)</li>
                        <li>Yongfeng Zhang (University of Massachusetts Amherst)</li>
                        <li>Yu Wang (Otto Radio, Inc.)</li>
                        <li>Yubin Kim (Carnegie Mellon University)</li>
                        <li>Yue Wang (University of Michigan)</li>
                        <li>Yuxiao Dong (Microsoft)</li>
                        <li>Zhaochun Ren (JD.com)</li>
                        <li>Zhe Zhao (Google)</li>
                        <li>Zhenhui Li (The Pennsylvania State University)</li>
                        <li>Zhicheng Dou (Renmin University of China)</li>
                        <li>Zhijun Yin (Facebook)</li>
                        <li>Zohar Karnin (Yahoo Labs)</li>
                        <li>Zornitsa Kozareva (Amazon)</li>
                    </ul>



                    <div style="height: 30px; clear: both;"></div>


                    <a class="anchor" name="best-paper-committee" id="best-paper-committee"></a>
                    <h2>Best Paper Award Committee</h2>
                    <ul>
                        <li>Aristides Gionis (Aalto University)</li>
                        <li>Charles Clarke (Facebook, Co-chair)</li>
                        <li>Don Metzler (Google) </li>
                        <li>Fernando Diaz (Spotify) </li>
                        <li>Huan Liu (Arizona State University, Co-chair)</li>
                        <li>Meeyoung Cha (Korea Advanced Institute of Science and Technology) </li>
                        <li>Parthasarathy Srinivasan (The Ohio State University) </li>
                        <li>Qiaozhu Mei (University of Michigan) </li>
                        <li>Tat-Seng Chua (National University of Singapore) </li>
                        <li>Tina Eliassi-Rad (Northeastern University) </li>
                        <li>Zoran Obradovic (Temple University) </li>
                    </ul>
                    <div style="height: 30px; clear: both;"></div>



                    <a class="anchor" name="pc-faq" id="pc-faq"></a>
                    <h2>Program Committee - FAQ</h2>
                    <h4>How can I be invited as a Senior Program Committee (SPC) member?</h4>
                    <p>You are personally known to one of the Program Chairs or Conference Chairs as an expert in your
                        domain who had good judgement about the type and quality of papers we are looking to publish at
                        WSDM. You have a strong publication track record in your domain. You are known to be reliable
                        and responsive. </p>
                    <h4>How can I be invited as a Program Committee (PC) member?</h4>
                    <p>You are personally recommended by an SPC or a Program/Conference Chair. You have been a PC member
                        at a leading international related conference in recent years and have published at least one
                        paper at WSDM, WWW, KDD, SIGIR, CIKM or related conferences.
                        Consider approaching relevant SPC members in person if you are interested in being
                        nominated as a PC member.</p>
                    <div style="height: 30px; clear: both;"></div>

                </div>
            </div>
        </div><!-- end row -->
    </div>
</div><!-- end container -->


{% include footer.html %}

</body>

</html>