---
title: Organizers
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}


    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
                <div id="sidenav">
                    <ul class="nav ">
                        <li><a class="link-button" href="#general-chairs">General Chairs</a></li>
                        <li><a class="link-button" href="#vice-chair">Vice Chair</a></li>
                        <li><a class="link-button" href="#program-chairs">Program co-Chairs</a></li>
                        <li><a class="link-button" href="#short-paper-program-chairs">Short Paper Program co-Chairs</a></li>
                        <li><a class="link-button" href="#local-arrangement-chairs">Local Arrangement-chairs</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">

                <div id="organizers">
                    <a class="anchor" name="general-chairs" id="general-chairs"></a>
                    <h2>Conference Organization</h2>

                    <h4>General co-Chairs</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://yichang-cs.com/">
                                    <img src="img/organizers/yi_chang.jpg"/>Yi Chang</a><br/>
                                Jilin University, China
                            </div>
                        </li>

                        <li class="person-card">
                            <div>
                                <a href="http://www.bigdatalab.ac.cn/~cxq/">
                                    <img src="img/organizers/Xueqi_Cheng.jpg"/>Xueqi Cheng</a><br/>
                                Chinese Academy of Science, China
                            </div>
                        </li>

                        <li class="person-card">
                            <div>
                                <a href="http://www.yorku.ca/jhuang/">
                                    <img src="img/organizers/jimmy_huang.jpg"/>Jimmy Huang</a><br/>
                                York University
                            </div>
                        </li>

                    </ul>

                    <h4>Vice Chair</h4>
                    <ul>

                        <li class="person-card">
                            <div>
                                <a href="http://www.thuir.cn/group/~YQLiu/">
                                    <img src="img/organizers/yiqun_liu.jpg"/>Yiqun Liu</a><br/>
                                Tsinghua University, China
                            </div>
                        </li>
                    </ul>
                    <h4>Program co-Chairs</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="https://www.uva.nl/profiel/k/a/j.kamps/j.kamps.html">
                                    <img src="img/organizers/Jaap.jpg"/>Jaap Kamps</a><br/>
                                University of Amsterdam, Holland
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="https://www.linkedin.com/in/vanessamurdock/">
                                    <img src="img/organizers/murdock.jpg"/>Vanessa Murdock</a><br/>
                                Amazon, U.S.A
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="https://scholar.google.com/citations?user=tbxCHJgAAAAJ&hl=en">
                                    <img src="img/organizers/Ji-Rong_Wen.jpeg"/>Ji-Rong Wen</a><br/>
                                Renmin University of China, China
                            </div>
                        </li>

                    </ul>
                    <h4>Short Paper Program co-Chairs</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="https://www.linkedin.com/in/deboradonato/">
                                    <img src="img/organizers/debora.jpeg"/>Debora Donato</a><br/>
                                StumbleUpon, U.S.A
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://www.bigdatalab.ac.cn/~gjf/">
                                    <img src="img/organizers/jiafeng.jpg"/>Jiafeng Guo</a><br/>
                                Chinese Academy of Science, China
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="https://iew3.technion.ac.il/~kurland/">
                                    <img src="img/organizers/oren.gif"/>Oren Kurland</a><br/>
                                Israel Institute of Technology, Israel
                            </div>
                        </li>
                    </ul>

                    <h4>Local Arrangement Chairs</h4>
                    <ul>
                        <li class="person-card">
                            <div>
                                <a href="http://see.xidian.edu.cn/faculty/xbgao/">
                                    <img src="img/organizers/xinbo.jpeg"/>Xinbo Gao</a><br/>
                                Xidian University, China
                            </div>
                        </li>
                        <li class="person-card">
                            <div>
                                <a href="http://gr.xjtu.edu.cn/web/dymeng;jsessionid=1F42C638CE01AF6A472370F65F2962EA">
                                    <img src="img/organizers/deyu.png"/>Deyu Meng</a><br/>
                                Xi'an Jiaotong University, China
                            </div>
                        </li>
                    </ul>
                    
                    <h4>Web Chair</h4>
                    <ul>
                        <!-- <li class="person-card">
                            <div>
                                <a href="http://www-scf.usc.edu/~yaguang/" target="_blank">
                                    <img src="img/organizers/yaguang_li.jpg"/>
                                    Sadra Abrishamkar</a><br/>
                                York University, Canada
                            </div>
                        </li> -->
                    </ul>

                    <div style="height: 30px; clear: both;"></div>

                    <!-- <a class="anchor" name="program-chairs" id="program-chairs"></a>
                    <h2>Senior Program Committee</h2>
                    <ul>
                        <li>Lada Adamic (Facebook Inc)</li>
                        <li>Eytan Adar (University of Washington)</li>
                        <li>Deepak Agarwal (LinkedIn)</li>
                        <li>Charu Aggarwal (IBM)</li>
                    </ul>


                    <div style="height: 30px; clear: both;"></div> -->

                </div>
            </div>
        </div><!-- end row -->
    </div>
</div><!-- end container -->


{% include footer.html %}

</body>

</html>