---
title: Sponsorship
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>


<body>

{% include navbar.html %}

<div class="container">
    {% include front-logo.html %}


    <div class="row">
        <div class="container content-container">

            <div class="col-sm-0 col-md-3">
            </div>

            <div class="col-sm-12 col-md-9">

                <h2>Sponsors &amp; Supporters</h2>

                <div class="alert alert-warning">Find out more about becoming a sponsor of WSDM 2018! <a
                        href="call-for-sponsorship.html">Click here</a></div>

                Here are our sponsors and supporters confirmed so far:
                <div id="sponsors-wide">
                    <!--TBA-->
                    <!--<h3>Diamond</h3>-->
                    <!--<a href="http://www.adobe.com/"><img src="img/sponsors/adobe.png" class="tall" /></a>-->
                    <h3>Platinum</h3>
                    <a href="http://www.linkedin.com/" target="_blank" class="platinum-sponsor large"><img src="img/sponsors/linkedin.png" style="width:350px;"/></a>
                    <a href="https://www.microsoft.com/en-us/" target="_blank" class="platinum-sponsor large"><img
                            src="img/sponsors/microsoft.png" style="width:350px;"/></a>
                    <!--<a href="http://www.baidu.com/"><img src="img/sponsors/baidu.png" /></a>-->
                    <!--<a href="http://www.yelp.com/"><img src="img/sponsors/yelp.png" /></a>-->
                    <!--<br />-->
                    <!--<a href="http://www.microsoft.com/"><img src="img/sponsors/microsoft.png" /></a>-->
                    <!--<a href="http://www.a9.com/"><img src="img/sponsors/a9.png" class="tall" /></a>-->
                    <h3>Gold</h3>
                    <a href="http://www.huawei.com/en/" target="_blank" class="gold-sponsor large"><img src="img/sponsors/huawei.png"  style="width: 150px;"/></a>
                    <a href="http://www.baidu.com/" target="_blank" class="gold-sponsor"><img src="img/sponsors/baidu.png" style="width:260px;"/></a>
                    <a href="http://www.adobe.com/" target="_blank" class="gold-sponsor"><img src="img/sponsors/adobe.png" style="width:120px;"/></a>
                    <a href="https://www.snap.com/en-US/" target="_blank" class="gold-sponsor"><img src="img/sponsors/snap.png" style="width:260px;"/></a>
                    <a href="http://www.amazon.com/" target="_blank" class="gold-sponsor"><img src="img/sponsors/amazon.png" style="width:260px;"/></a>
                    <a href="http://www.google.com/" target="_blank" class="gold-sponsor"><img src="img/sponsors/google.png" style="width:260px;"/></a>
                    <a href="https://research.yahoo.com/" target="_blank" class="gold-sponsor"><img src="img/sponsors/yahoo_research.png" style="width:260px;"/></a>
                    <a href="https://www.facebook.com/" target="_blank" class="gold-sponsor"><img src="img/sponsors/facebook.png" style="width:280px;"/></a>
                    <a href="https://www.ebay.com/" target="_blank" class="gold-sponsor"><img src="img/sponsors/ebay.png" style="width:240px;"/></a>
                    <!--<a href="http://www.kkbox.com/" target="_blank" class="gold-sponsor large"><img src="img/sponsors/kkbox.png" style="width:280px;"/></a>-->
                    <!--<a href="http://www.kaggle.com/" target="_blank" class="gold-sponsor large"><img src="img/sponsors/kaggle.png" style="width:200px;"/></a>-->
                    <h3>Silver</h3>
                    <a href="http://ai.tencent.com/ailab/index.html" target="_blank" class="silver-sponsor large"><img src="img/sponsors/tencent_ai.png" style="width: 200px;" /></a>

                    <a href="https://www.jd.com" target="_blank" class="silver-sponsor large"><img src="img/sponsors/jd.png" style="width: 180px;" /></a>
                    <a href="https://www.creditx.com/" target="_blank" class="silver-sponsor large"><img src="img/sponsors/creditx.png" style="width: 180px;" /></a>
                    <a href="https://www.hulu.com/" target="_blank" class="silver-sponsor large"><img src="img/sponsors/hulu.jpg" style="width: 170px;" /></a>
                    <a href="https://www.appen.com/" target="_blank" class="silver-sponsor large"><img src="img/sponsors/appen.png" style="width: 190px;" /></a>
                    <a href="https://www.techatbloomberg.com/post-topic/data-science/" target="_blank" class="silver-sponsor large"><img src="img/sponsors/bloomberg.png" style="width: 210px;" /></a>

                    <h3>Bronze</h3>
                    <a href="https://www.pinterest.com/" target="_blank" class="bronze-sponsor"><img
                            src="img/sponsors/pinterest.png" style="width: 150px;"/></a>
                    <a href="https://www.zillow.com/" target="_blank" class="bronze-sponsor"><img
                            src="img/sponsors/zillow.jpg" style="width: 130px;"/></a>

                    <!--<a href="https://operator.com/"><img src="img/sponsors/operator.png" /></a>-->
                    <!--<br />-->
                    <!--<a href="https://www.yahoo.com/"><img src="img/sponsors/yahoo.png" /></a>-->
                    <!--<a href="http://www.netflix.com/"><img src="img/sponsors/netflix.png" /></a>-->
                    <!--<h3>Bronze</h3>-->
                    <!--<a href="http://www.yandex.com/"><img src="img/sponsors/yandex.png" /></a>-->
                    <!--<h3>Special</h3>-->
                    <!--<a href="http://www.journals.elsevier.com/artificial-intelligence/"><img src="img/sponsors/aij.png" class="tall" /></a>-->
                    <!--<h3>Friends</h3>-->
                    <!--<a href="http://www.kdnuggets.com/"><img src="img/sponsors/kdnuggets-logo.gif" /></a>-->
                    <!--<a href="http://www.meetup.com/Data-Mining/"><img src="img/sponsors/sfmeetup-logo.jpg" /></a>-->
                    <!--<a href="https://www.researchnews.com/"><img src="img/sponsors/research-news-logo.png" /></a>-->

                    <!--<br /><br /><br /><br />-->
                    <!--<a href="http://www.acm.org/"><img src="img/acm-logo.gif" /></a>-->
                    <!--<a href="http://sigir.org/"><img src="img/sigir-logo.gif" /></a>-->
                    <!--<a href="http://www.sigkdd.org/"><img src="img/sigkdd-logo.png" /></a>-->
                    <!--<a href="http://www.sigmod.org/"><img src="img/sigmod-logo.gif" /></a>-->
                    <!--<a href="http://www.sigweb.org/"><img src="img/sigweb-logo.png" /></a>-->
                    <h3>WSDM Cup Gold</h3>
                    <a href="http://www.kkbox.com/" target="_blank" class="gold-sponsor large"><img src="img/sponsors/kkbox.png" style="width:280px;"/></a>
                    <a href="http://www.kaggle.com/" target="_blank" class="gold-sponsor large"><img src="img/sponsors/kaggle.png" style="width:200px;"/></a>
                    <h3>Publisher Supporter</h3>
                    <a href="http://www.cambridge.org/" target="_blank" class="publisher-sponsor large"><img src="img/sponsors/cambridge_press.jpg" style="width:150px;"/></a>
                </div>

                <br/>
                <p>We invite you to consider becoming a sponsor. <a href="call-for-sponsorship.html">Click here for
                    details</a></p>


            </div>
        </div><!-- end row -->
    </div>
</div><!-- end container -->


{% include footer.html %}


</body>

</html>