<script type='text/javascript' src="js/holder.js"></script>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="invited-speakers.html#keynote-harry">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/harry_shum.jpg" alt="Harry Shum">
                    <p class="item-title">Keynote Speaker</p>
                    <h4>Harry Shum</h4>
                    <p>Executive Vice President, Microsoft</p>
                    <span class="label label-default">Tuesday, Feb 6, 9:00am</span>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="invited-speakers.html#keynote-igor">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/igor_perisic.jpg" alt="Igor Perisic">
                    <p class="item-title">Keynote Speaker</p>
                    <h4>Igor Perisic </h4>
                    <p>Chief Data Officer, LinkedIn</p>
                    <span class="label label-default">Tuesday, Feb 6, 2:00pm</span>
                </div>
            </a>
        </div>

        <div class="item">
            <a href="invited-speakers.html#keynote-shanghua">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/shanghua_teng.jpg" alt="Shang-Hua Teng">
                    <p class="item-title">Keynote Speaker</p>
                    <h4>Shang-Hua Teng</h4>
                    <p>University Professor, USC</p>
                    <span class="label label-default">Wednesday, Feb 7, 9:00am</span>
                </div>
            </a>
        </div>


        <div class="item">
            <a href="invited-speakers.html#keynote-judea">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/judea_pearl.jpg" alt="Judea Pearl">
                    <p class="item-title">Keynote Speaker</p>
                    <h4>Judea Pearl </h4>
                    <p>Turing Award Winner, UCLA</p>
                    <span class="label label-default">Wednesday, Feb 7, 2:00pm</span>
                </div>
            </a>
        </div>

        <div class="item">
            <a href="invited-speakers.html#keynote-andrei">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/andrei_broder.jpg" alt="Andrei Broder">
                    <p class="item-title">Keynote Speaker</p>
                    <h4>Andrei Broder</h4>
                    <p>Distinguished Scientist, Google</p>
                    <span class="label label-default">Thursday, Feb 8, 9:00am</span>
                </div>
            </a>
        </div>


        <div class="item">
            <a href="invited-speakers.html#keynote-jiawei">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/jiawei_han.jpg" alt="Jiawei Han">
                    <p class="item-title">Keynote Speaker</p>
                    <h4>Jiawei Han </h4>
                    <p>Abel Bliss Professor, UIUC</p>
                    <span class="label label-default">Thursday, Feb 8, 2:30pm</span>
                </div>
            </a>
        </div>




        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button"
           data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button"
           data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>