<script type='text/javascript' src="js/holder.js"></script>
<div id="carousel-example-vc" class="carousel slide small" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-vc" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-vc" data-slide-to="1"></li>
        <li data-target="#carousel-example-vc" data-slide-to="2"></li>
        <li data-target="#carousel-example-vc" data-slide-to="3"></li>
        <li data-target="#carousel-example-vc" data-slide-to="4"></li>
        <li data-target="#carousel-example-vc" data-slide-to="5"></li>
        <li data-target="#carousel-example-vc" data-slide-to="6"></li>
        <li data-target="#carousel-example-vc" data-slide-to="7"></li>
        <li data-target="#carousel-example-vc" data-slide-to="8"></li>
        <li data-target="#carousel-example-vc" data-slide-to="9"></li>
        <li data-target="#carousel-example-vc" data-slide-to="10"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="industry-day.html#keynote-hartmut">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/hartmut_neven.jpg" alt="Hartmut Neven">
                    <p class="item-title">Industry Keynote Speaker</p>
                    <h4>Hartmut Neven</h4>
                    <p>Google</p>
                    <span class="label label-default">Monday, Feb 5, 9:00am</span>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="industry-day.html#keynote-vinod">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/vinod_khosla_wide.jpg" alt="Vinod Khosla">
                    <p class="item-title">Industry Keynote Speaker</p>
                    <h4>Vinod Khosla</h4>
                    <p>Khosla Ventures</p>
                    <span class="label label-default">Monday, Feb 5, 5:45pm</span>
                </div>
            </a>
        </div>


        <div class="item">
            <a href="industry-day.html#invite-talk-min">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/min_wang.jpg" alt="Min Wang">
                    <p class="item-title">Industry Invited Talk Speaker</p>
                    <h4>Min Wang</h4>
                    <p>Visa</p>
                    <span class="label label-default">Monday, Feb 5, 11:00am</span>
                </div>
            </a>
        </div>

        <div class="item">
            <a href="industry-day.html#invite-talk-ash">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/ash_damle.jpg" alt="Ash Damle">
                    <p class="item-title">Industry Invited Talk Speaker</p>
                    <h4>Ash Damle</h4>
                    <p>Lumiata</p>
                    <span class="label label-default">Monday, Feb 5, 11:30am</span>
                </div>
            </a>
        </div>

        <div class="item">
            <a href="industry-day.html#invite-talk-hang">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/hang_li.jpg" alt="Hang Li">
                    <p class="item-title">Industry Invited Talk Speaker</p>
                    <h4>Hang Li</h4>
                    <p>Toutiao</p>
                    <span class="label label-default">Monday, Feb 5, 12:00pm</span>
                </div>
            </a>
        </div>



        <div class="item">
            <a href="industry-day.html#invite-talk-benyu">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/benyu_zhang.jpg" alt="Benyu Zhang">
                    <p class="item-title">Industry Invited Talk Speaker</p>
                    <h4>Benyu Zhang</h4>
                    <p>CloudBrain</p>
                    <span class="label label-default">Monday, Feb 5, 2:00pm</span>
                </div>
            </a>
        </div>

        <div class="item">
            <a href="industry-day.html#invite-talk-ken">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/ken_weiner.jpg" alt="Ken Weiner">
                    <p class="item-title">Industry Invited Talk Speaker</p>
                    <h4>Ken Weiner</h4>
                    <p>Gumgum</p>
                    <span class="label label-default">Monday, Feb 5, 2:20pm</span>
                </div>
            </a>
        </div>

        <div class="item">
            <a href="industry-day.html#invite-talk-adam">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/adam_zheng.jpg" alt="Adam Zheng">
                    <p class="item-title">Industry Invited Talk Speaker</p>
                    <h4>Adam Zheng</h4>
                    <p>Oben</p>
                    <span class="label label-default">Monday, Feb 5, 2:40pm</span>
                </div>
            </a>
        </div>

        <div class="item">
            <a href="industry-day.html#invite-talk-richard">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/richard_liu.jpg" alt="Richard Liu">
                    <p class="item-title">Industry Invited Talk Speaker</p>
                    <h4>Richard Liu</h4>
                    <p>Leap.ai</p>
                    <span class="label label-default">Monday, Feb 5, 3:00pm</span>
                </div>
            </a>
        </div>

        <div class="item">
            <a href="industry-day.html#invite-talk-mihajlo">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/mihajlo_grbovic.jpg" alt="Mihajlo Grbovic">
                    <p class="item-title">Industry Invited Talk Speaker</p>
                    <h4>Mihajlo Grbovic</h4>
                    <p>Airbnb</p>
                    <span class="label label-default">Monday, Feb 5, 4:45pm</span>
                </div>
            </a>
        </div>

        <div class="item">
            <a href="industry-day.html#invite-talk-kai">
                <img src="holder.js/800x220a739.html?bg=333&amp;text=%20&amp;fg=fff" alt="">
                <div class="carousel-caption">
                    <img src="img/speakers/kai_yu.jpg" alt="Kai Yu">
                    <p class="item-title">Industry Invited Talk Speaker</p>
                    <h4>Kai Yu</h4>
                    <p>Horizon Robotics</p>
                    <span class="label label-default">Monday, Feb 5, 5:15pm</span>
                </div>
            </a>
        </div>



        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-vc" role="button"
           data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-vc" role="button"
           data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>