<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><span style="font-weight:bold">SIGIR 2020</span></a>
        </div>
        <div class="collapse navbar-collapse" id="top-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Submit<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="call-list.html">List of calls</a></li>
                        <li><a href="call-for-papers.html">Call for Full Papers</a></li>
                        <li><a href="call-for-short.html">Call for Short Papers</a></li>
                        <li><a href="call-for-tutorials.html">Call for Tutorials</a></li>
                        <li><a href="call-for-workshop.html">Call for Workshops</a></li>
                        <li><a href="call-for-demos.html">Call for Demonstrations</a></li>
                        <li><a href="call-for-submissions-doctoral-consortium.html">Call for Doctoral Consortium Papers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Program<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="schedule-overview.html">Program at a Glance</a></li>
                        <li><a href="schedule.html">Schedule</a></li>
                        <li><a href="invited-speakers.html">Keynotes and Panel</a></li>
                        <li><a href="tutorials.html">Tutorials</a></li>
                        <li><a href="workshops.html">Workshops</a></li>
                        <li><a href="doctoral-consortium.html">Doctoral Consortium</a></li>
                        <li><a href="accepted-papers.html">Accepted Papers</a></li>
                    </ul>
                </li>
                <li><a href="attending.html">Attending</a></li>
                <li><a href="organizers.html">Organizers</a></li>
                <li><a href="sponsorship.html">Sponsors</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Logo-->
<div class="row">
    <div class="col-xs-12">
        <div id="title">
            <!--<img src="img/wsdm-logo-white.png" class="img-responsive center-block"/>-->
            <img class="img-responsive center-block" id="img-banner" src="img/bannerlogo.png"/>
            <img class="img-responsive center-block" id="img-banner-mobile" src="img/banner-mobile.jpg"/>
            <h3 class="text-center"><strong>43rd International ACM SIGIR Conference on Research and Development in Information Retrieval</strong>
            </h3>
            <h4 class="text-center"><strong>July 25-31, 2020 (Xi'an, China)</strong></h4>
        </div>
    </div>
</div>